<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/practice.png' width=300/></center>

# 실습 #1: 리스트 생성하기

1) 리스트 a에 1, 2, 3, 4, 5를 저장하고 출력하세요.

In [2]:

a =[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

2) 리스트 b에 'ab', 'cd', 'ef'를 저장하고 출력하세요.

In [4]:

b = ['ab','cd','ef']

print(b)

['ab', 'cd', 'ef']

3) 리스트 c에 123, 'ab', 45, 'cde'를 저장하고 출력하세요.

In [6]:


c = [123,'ab',45,'cde']
print(c)

[123, 'ab', 45, 'cde']

4) 리스트 list_a에 1, 3, 5, 7, 9를, 리스트 list_b에 1, 'a', 3, 'b'를 저장하고 각각의 리스트를 출력하세요.

In [8]:
list_a = [1,3,5,7,9]
list_b = [1,'a',3,'b']

print(list_a)
print(list_b)

[1, 3, 5, 7, 9]
[1, 'a', 3, 'b']

5) range() 함수를 사용하여 0부터 20까지의 값들을 리스트 d에 저장하고 출력하세요.

In [10]:
d= list(range(0,21))

print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

6) range() 함수를 사용하여 1부터 19까지 3씩 증가시킨 값들을 리스트 list_c에 저장하고 출력하세요.

In [12]:
list_c= list(range(1,20,3))

print(list_c)

[1, 4, 7, 10, 13, 16, 19]

7) 리스트 list_d에 1, 2, 3을 저장한 뒤, 리스트 list_e에 리스트 list_d와 4, 5를 저장하고 출력하세요.

In [14]:
list_d = [1,2,3]
list_e = [list_d,4,5]

print(list_e)

[[1, 2, 3], 4, 5]

8) 리스트 list1에 1, 3, 'hello'를 저장한 뒤, 리스트 list2에 리스트 list1과 'happy', 2, 4를 저장하고 출력하세요.

In [16]:
list1 = [1,3,'hello']
list2 = [list1,'happy',2,4]

print(list2)

[[1, 3, 'hello'], 'happy', 2, 4]

# 실습 #2: 리스트 인덱싱과 슬라이싱

1) 리스트 list1에 1, 2, 3, 4, 5를 저장하고, 첫 번째 값과 마지막 값을 각각 출력하세요.

In [20]:

list1 = [1,2,3,4,5]

print(list1[0], list1[-1])

1 5

2) 리스트 a에 23, 3, 16, 45, 11을 저장하고 다음 값을 출력하세요.

- 앞에서부터 첫 번째 값과 네 번째 값을 하나의 print 함수로 출력
- 뒤에서부터 첫 번째 값과 세 번째 값을 하나의 print 함수로 출력

In [22]:
a= [23, 3, 16, 45, 11]

print(a[0],a[3])
print(a[-1],a[-3])

23 45
11 16

3) 리스트 a에 23, 3, 16, 45, 11을 저장하고, 첫 번째 값부터 세 번째 값까지 출력하세요.

In [24]:
a= [23, 3, 16, 45, 11]

print(a[0:3])

[23, 3, 16]

4) 리스트 a에 23, 3, 16, 45, 11을 저장하고, 세 번째 값부터 마지막 값까지 출력하세요.

In [28]:

a= [23, 3, 16, 45, 11]

print(a[2:])

[16, 45, 11]

5) 리스트 a에 23, 3, 16, 45, 11을 저장하고, 아래 예시와 같이 출력하세요.

- 첫 번째 줄은 순방향 인덱싱과 슬라이싱을 사용하세요.
- 두 번째 줄은 역방향 인덱싱과 슬라이싱을 사용하세요.
~~~
[3, 16, 45] [23, 3, 16] [16, 45] [16, 45, 11]
[16, 45] [] [16, 45, 11] [23]
~~~

In [38]:

a= [23, 3, 16, 45, 11]

print(a[1:4], a[0:3], a[2:4], a[2:5]) # 정방향 인덱싱

print(a[-3:-1], a[-1:-1], a[-3:],a[-5:-4]) # 역방향 인덱싱

[3, 16, 45] [23, 3, 16] [16, 45] [16, 45, 11]
[16, 45] [] [16, 45, 11] [23]

# 실습 #3: 리스트 수정하기

1) 리스트 a에 23, 3, 16, 45, 11을 저장한 뒤 append()를 사용하여 99를 추가하세요.
- 힌트: 리스트.append(추가할 값)

In [40]:
a= [23, 3, 16, 45, 11]
a.append(99)

print(a)

[23, 3, 16, 45, 11, 99]

2) 리스트 a에 23, 3, 16, 45, 11을 저장하고, append()로 99를 추가한 뒤, 리스트 + 리스트 형태를 사용하여 100을 추가하세요.

In [50]:
a= [23, 3, 16, 45, 11]
a.append(99)
a= a + [100]
print(a)

[23, 3, 16, 45, 11, 99, 100]

3) 리스트 list1에 1, 3, 5, 7을, 리스트 list2에 2, 4, 8을 저장하고, list1의 두 번째 값을 list2에 추가하세요.

In [54]:

list1=[ 1, 3, 5, 7]

list2 = [2,4,8]

list2.append(list1[1])

print(list2)

[2, 4, 8, 3]

4) 리스트 list1에 1, 3, 5, 7을, 리스트 list2에 2, 4, 8을 저장하고 list2에 list1를 추가하세요.

- 단, 리스트 + 리스트 형태를 사용하세요.

In [56]:

list1=[ 1, 3, 5, 7]

list2 = [2,4,8]
list2 = list2 + list1

print(list2)

[2, 4, 8, 1, 3, 5, 7]

5) 리스트 a에 23, 3, 16, 45, 11을 저장하고 두 번째 값을 출력한 뒤 300으로 수정하고 다시 출력하세요.
- 힌트: 리스트[수정 대상 인덱스] = 수정할 값

In [58]:
a= [23, 3, 16, 45, 11]
print(a[1])
a[1] = 300

print(a)

3
[23, 300, 16, 45, 11]

6) 리스트 a에 23, 3, 16, 45, 11을 저장하고 리스트의 마지막 값을 출력한 뒤 두 배의 값으로 수정하세요.

In [60]:
a= [23, 3, 16, 45, 11]
print(a[-1])
a[-1] = a[-1] * 2

print(a)

11
[23, 3, 16, 45, 22]

7) 리스트 a에 23, 3, 16, 45, 11을 저장하고 두 번째 값을 삭제하세요.
- 힌트: del 리스트[삭제 대상 인덱스]

In [62]:

a= [23, 3, 16, 45, 11]
del a[1]
print(a)

[23, 16, 45, 11]

# 실습 #4: 리스트 관련 함수와 메서드

1) 리스트 list2에 1부터 20까지 3씩 증가하는 값들을 저장하고, 리스트 값들의 개수를 구하세요.

- 힌트: len(리스트 이름)

In [68]:

list2 = list(range(1,21,3))

print(list2)
print(len(list2))

[1, 4, 7, 10, 13, 16, 19]
7

2) 리스트 list3에 'python', 'is', 'funny'를 저장하고, 리스트 값들의 개수를 구하세요.

In [70]:


list3 = ['python','is','funny']

print( len(list3))

3

3) 리스트 list1에 1 ~ 100 중 7의 배수를 저장하고, 리스트 값들의 합을 구하세요.

- 힌트: sum(리스트 이름)

In [72]:

list1 = list(range(0,101,7))

print(list1)
print(sum(list1))

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]
735

4) 리스트 list1에 10, 20, 30, 40, 50을 저장하고, list1의 자료형을 확인하세요.

- 힌트: type(자료형)

In [74]:
 list1= [10, 20, 30, 40, 50]

print(type(list1))

<class 'list'>

5) 리스트에서는 평균을 구하는 함수가 제공되지 않습니다.

- 리스트 num = [10, 21, 34, 47, 53]일 때, num의 평균을 계산하여 출력하세요.

In [76]:

num = [10, 21, 34, 47, 53]

print(sum(num) / len(num))

33.0

6) 리스트 list1에 10, 20, 30, 40, 50을 저장하고, 맨 끝에 60을 추가하세요.

In [78]:
list1= [10, 20, 30, 40, 50]

list1.append(60)

print(list1)

[10, 20, 30, 40, 50, 60]

7) 리스트 list3에 'python', 'is', 'funny'를 저장하고, 맨 끝에 '~', '!' 을 차례대로 추가하세요.

In [80]:

list3 = ['python','is','funny']

list3.append('~')

list3.append('!')

list3

['python', 'is', 'funny', '~', '!']

8) 리스트 list1에 10, 20, 30, 40, 50을 저장하고 세 번째 위치에 60을 추가하세요.
- 힌트: 리스트 이름.insert(추가할 위치의 인덱스 값, 추가할 값)

In [82]:
list1= [10, 20, 30, 40, 50]

list1.insert(2,60)

print(list1)

[10, 20, 60, 30, 40, 50]

9) 리스트 list1에 10, 20, 30, 40, 50을 저장하고, 30을 삭제하세요.

- 힌트: 리스트 이름.remove(삭제할 값)

In [88]:

list1= [10, 20, 30, 40, 50]

list1.remove(30)

list1

[10, 20, 40, 50]

10) 리스트 list2에 1부터 20까지 3씩 증가하는 값들을 저장하고, 뒤에서 세 번째 값을 삭제하세요.

In [90]:

list2 = list(range(1,21,3))

print(list2)

list2.pop(-3) # 13 제거 

print(list2)

[1, 4, 7, 10, 13, 16, 19]
[1, 4, 7, 10, 16, 19]

11) 리스트 a = [1, 4, 3, 2]일 때 리스트의 값들을 오름차순으로 정렬해서 출력하세요.

- 힌트: 리스트 이름.sort()

In [92]:

a = [1, 4, 3, 2]

a.sort() # ! 주의 .sort() 메서드의 반환값은 없다 (None) , 리스트 정렬한다.

print(a)

[1, 2, 3, 4]

12) 리스트 b = ['c', 'a', 'b', 'd']일 때 리스트의 값들을 내림차순으로 정렬해서 출력하세요.

- 힌트: 리스트 이름.sort(reverse=True)

In [94]:
b = ['c', 'a', 'b', 'd']

b.sort(reverse = True) # ! 주의 .sort() 메서드의 반환값은 없다 (None)

print(b)

['d', 'c', 'b', 'a']