# **1. 데이터 불러오기**

In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
# 한글 세팅
plt.rc("font", family = "Malgun Gothic")
sns.set(font="Malgun Gothic",
rc={"axes.unicode_minus":False}, style='white')

In [3]:
# 제출할 데이터 양식
data_sample_submission = pd.read_csv('dataset/sample_submission.csv')
data_sample_submission.head()

         ID  가격(백만원)
0  TEST_000        0
1  TEST_001        0
2  TEST_002        0
3  TEST_003        0
4  TEST_004        0

In [4]:
data_test = pd.read_csv('dataset/test.csv')
data_test

,ID,제조사,모델,차량상태,배터리용량,구동방식,주행거리(km),보증기간(년),사고이력,연식(년)
0,TEST_000,P사,TayCT,Nearly New,76.093,AWD,14057,2,No,0
1,TEST_001,B사,iX,Brand New,90.000,AWD,7547,8,No,0
2,TEST_002,B사,i5,Brand New,NaN,RWD,7197,7,Yes,0
3,TEST_003,H사,ION5,Nearly New,68.479,AWD,10357,7,No,1
4,TEST_004,K사,EV6,Brand New,NaN,FWD,7597,10,No,0
...,...,...,...,...,...,...,...,...,...,...
841,TEST_841,P사,TayGTS,Pre-Owned,64.683,AWD,117298,2,No,0
842,TEST_842,V사,ID4,Pre-Owned,55.547,AWD,72308,0,No,0
843,TEST_843,V사,ID4,Pre-Owned,55.547,AWD,124537,0,No,0
844,TEST_844,A사,Q4eT,Nearly New,69.646,AWD,15629,4,No,0
845,TEST_845,B사,i3,Pre-Owned,46.000,AWD,53945,0,No,0

In [7]:
data_train_val = pd.read_csv('dataset/train.csv')
data_train_val

,ID,제조사,모델,차량상태,배터리용량,구동방식,주행거리(km),보증기간(년),사고이력,연식(년),가격(백만원)
0,TRAIN_0000,P사,TayGTS,Nearly New,86.077,AWD,13642,0,No,2,159.66
1,TRAIN_0001,K사,Niro,Nearly New,56.000,FWD,10199,6,No,0,28.01
2,TRAIN_0002,A사,eT,Brand New,91.200,AWD,2361,7,No,0,66.27
3,TRAIN_0003,A사,RSeTGT,Nearly New,NaN,AWD,21683,3,No,0,99.16
4,TRAIN_0004,B사,i5,Pre-Owned,61.018,AWD,178205,1,No,0,62.02
...,...,...,...,...,...,...,...,...,...,...,...
7492,TRAIN_7492,H사,ION5,Brand New,NaN,AWD,3773,10,No,0,35.95
7493,TRAIN_7493,B사,i3,Pre-Owned,46.000,RWD,135411,2,No,0,23.40
7494,TRAIN_7494,P사,TayCT,Brand New,NaN,AWD,1363,2,No,0,120.00
7495,TRAIN_7495,B사,i3,Nearly New,56.000,RWD,39445,6,No,2,24.00
7496,TRAIN_7496,T사,MY,Pre-Owned,51.940,AWD,80215,0,No,0,74.06

# 2. 데이터 기초정보 확인하기

[독립변수]
- 숫자형 변수: 베터리용량 , 주행거리(km) , 보증기간(년) , 연식(년) 
- 범주형 변수: ID, 제조사, 모델 , 차량상태 , 구동방식 , 사고이력

[종속변수]
- 가격(백만원)

In [10]:
data_train_val.dtypes

ID           object
제조사          object
모델           object
차량상태         object
배터리용량       float64
구동방식         object
주행거리(km)      int64
보증기간(년)       int64
사고이력         object
연식(년)         int64
가격(백만원)     float64
dtype: object

In [ ]:
data_train_val.describe().T

,count,mean,std,min,25%,50%,75%,max
배터리용량,4786.0,69.397187,15.283635,46.0,56.359,68.125,78.227,99.80
주행거리(km),7497.0,44287.979458,55204.064386,3.0,5465.000,17331.000,61252.000,199827.00
보증기간(년),7497.0,4.960918,3.155342,0.0,2.000,5.000,8.000,10.00
연식(년),7497.0,0.222489,0.569232,0.0,0.000,0.000,0.000,2.00
가격(백만원),7497.0,62.331949,36.646759,9.0,34.390,56.000,80.050,161.09

# 3. 데이터 분포도 
- 범주형 , 수치형 변수들의 분포를 확인해보자

In [11]:
def my_count_plot(target,data):
    sns.countplot(x=target,data=data)
    plt.title(target)
    plt.grid()
    plt.show()
    print(data[target].value_counts(normalize = True).sort_index())

In [ ]:
# 범주형 변수