<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/practice.png' width=300/></center>

# [실습] 데이터프레임 탐색 (1)

1) pandas 라이브러리를 pd 별칭을 주어 불러오세요.

In [6]:
import pandas as pd

2) read_csv() 함수를 사용해 다음 경로의 파일을 불러와 **tip** 데이터프레임을 만드세요.

- 파일 경로: 'https://raw.githubusercontent.com/Jangrae/csv/master/tips.csv'

In [9]:
tip = pd.read_csv('https://raw.githubusercontent.com/Jangrae/csv/master/tips.csv')

tip

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

3) head() 메서드로 상위 10개 행 데이터를 확인하세요.

In [12]:
tip.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

4) shape 속성을 사용해 행과 열의 개수를 확인하세요.

In [15]:
tip.shape

(244, 7)

5) dtype 속성을 사용해 각 열의 데이터 형식을 확인하세요.

In [24]:
tip['total_bill'].dtype
tip['tip'].dtype
tip['sex'].dtype
tip['smoker'].dtype
tip['day'].dtype
tip['time'].dtype
tip['size'].dtype

dtype('int64')

6) info() 메서드를 사용해 각 열의 값 개수와 데이터 형식 등을 한 번에 확인하세요.

In [27]:
tip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

7) describe() 함수를 사용해 기술통계정보를 확인하세요.

In [30]:
tip.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

8) value_counts() 메서드를 사용해 다음 두 열의 고윳과 그 개수를 각각
확인하세요.

- day
- time

In [33]:
tip['day'].value_counts()
tip['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

9) total_bill, tip 두 열의 최댓값을 한 번에 확인하세요.

In [35]:
print(tip['day'].max(), tip['time'].max())

Thur Lunch

10) 다음 요구사항에 따라 구문을 순서대로 작성하고 확인하세요.

- total_bill 열을 기준으로 내림차순 정렬해서 상위 10개를 tip_top10 데이터프레임으로 선언하세요.
- tip_top10 데이터프레임 인덱스 초기화하세요.(단, 기존 인덱스 제거)
- tip_top10 데이터프레임을 확인하세요.

In [44]:
tip_top10=tip.sort_values(by='total_bill', ascending = False).head(10)

tip_top10

tip_top10.reset_index(drop = True)

   total_bill    tip     sex smoker   day    time  size
0       50.81  10.00    Male    Yes   Sat  Dinner     3
1       48.33   9.00    Male     No   Sat  Dinner     4
2       48.27   6.73    Male     No   Sat  Dinner     4
3       48.17   5.00    Male     No   Sun  Dinner     6
4       45.35   3.50    Male    Yes   Sun  Dinner     3
5       44.30   2.50  Female    Yes   Sat  Dinner     3
6       43.11   5.00  Female    Yes  Thur   Lunch     4
7       41.19   5.00    Male     No  Thur   Lunch     5
8       40.55   3.00    Male    Yes   Sun  Dinner     2
9       40.17   4.73    Male    Yes   Fri  Dinner     4