### Zigbang 원룸 매물 데이터 수집

In [2]:
import requests 
import pandas as pd

#### Process
    - 동이름으로 위도 경도 구하기
    - 위도 경도로 geohash 알아내기
    - geohash로 매물 아이디 가져오기
    - 매물 아이디로 매물 정보 가져오기

#### 1. 동이름으로 위도 경도 구하기

In [5]:

addr = '망원동'
url = f'https://apis.zigbang.com/v2/search?leaseYn=N&q={addr}&serviceType=원룸'
response = requests.get(url)
data = response.json()['items'][0]
lat, lng = data['lat'], data['lng']
lat, lng

(37.556785583496094, 126.9013442993164)

#### 2. 위도 경도로 geohash 알아내기

In [7]:
!pip install geohash2

Requirement already satisfied: geohash2 in c:\users\user\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: docutils>=0.3 in c:\users\user\anaconda3\lib\site-packages (from geohash2) (0.18.1)

In [8]:

import geohash2
geohash = geohash2.encode(lat,lng,precision = 5)
geohash

'wydjx'

#### 3. geohash로 매물 아이디 가져오기

In [10]:
# url이 인코딩되있는 경우 디코딩 과정 필요 
url = 'https://apis.zigbang.com/v2/items/oneroom?geohash=wydm&depositMin=0&rentMin=0&salesTypes[0]=전세&salesTypes[1]=월세&lngEast=126.92783575805556&lngWest=126.78338880611302&latSouth=37.47632007204551&latNorth=37.56054215395402&domain=zigbang&checkAnyItemWithoutFilter=true'

response = requests.get(url)
response

In [12]:
ids = [item['itemId'] for item in response.json()['items']]
len(ids) , ids[:5]
ids=ids[:300]

#### 4. 매물 아이디로 매물 정보 가져오기

In [15]:
url = 'https://apis.zigbang.com/v2/items/list'
#params = {'domain':'zigbang', 'item_ids':ids}
params = {'domain':'zigbang', 'item_ids':ids[:5]} # 최그 가져올 수 있는 dic len 이 15개로 한정되었기 때문에 5개만 가져오기 
response = requests.post(url,params)
response

In [17]:
response.text #

'{"items":[{"item_id":42123052,"section_type":null,"images_thumbnail":"https://ic.zigbang.com/ic/items/42123052/1.jpg","sales_type":"월세","sales_title":"월세","deposit":500,"rent":45,"size_m2":23.14,"공급면적":{"m2":23.14,"p":"7"},"전용면적":{"m2":23.14,"p":"7"},"계약면적":null,"room_type_title":null,"floor":"2","floor_string":"2","building_floor":"4","title":"신흥역 2분 , 넓은 옵션 원룸,즉시입주","is_first_movein":null,"room_type":"01","status":true,"tags":[],"service_type":"원룸","random_location":{"lat":37.4414801397193,"lng":127.14587132583516},"location":{"lat":37.4414801397193,"lng":127.14587132583516},"manage_cost":"0","reg_date":"2024-09-06T11:03:00+09:00","is_new":false,"addressOrigin":{"local1":"경기도","local2":"성남시 수정구","local3":"신흥동","local4":"","fullText":"경기도 성남시 수정구 신흥동","localText":"성남시 수정구 신흥동"},"action":{"isRead":false,"readAt":null,"isInquired":false,"inquiredAt":null,"isRewarded":false,"rewardedAt":null,"isReported":false,"reportedAt":null,"isChecked":false,"checkedAt":null,"isZzim":false},"contract":"","address":"성남시 수정구 신흥동","is_zzim":false,"address1":"경기도 성남시 수정구 신흥동","address2":null,"address3":null,"item_bm_type":"ZIGBANG","isCleanLessor":false},{"item_id":42022206,"section_type":null,"images_thumbnail":"https://ic.zigbang.com/ic/items/42022206/1.jpg","sales_type":"전세","sales_title":"전세","deposit":39000,"rent":0,"size_m2":140,"공급면적":{"m2":140,"p":"42.4"},"전용면적":{"m2":71.99,"p":"21.8"},"계약면적":null,"room_type_title":null,"floor":"8","floor_string":"8","building_floor":"16","title":"신흥동 더젠시티 오피스텔 3룸 전세","is_first_movein":null,"room_type":"05","status":true,"tags":["추천"],"service_type":"오피스텔","random_location":{"lat":37.4415443814859,"lng":127.147469178637},"location":{"lat":37.4415443814859,"lng":127.147469178637},"manage_cost":"10","reg_date":"2024-10-03T10:32:26+09:00","is_new":true,"addressOrigin":{"local1":"경기도","local2":"성남시 수정구","local3":"신흥동","local4":"","fullText":"경기도 성남시 수정구 신흥동","localText":"성남시 수정구 신흥동"},"action":{"isRead":false,"readAt":null,"isInquired":false,"inquiredAt":null,"isRewarded":false,"rewardedAt":null,"isReported":false,"reportedAt":null,"isChecked":false,"checkedAt":null,"isZzim":false},"contract":"","address":"성남시 수정구 신흥동","is_zzim":false,"address1":"경기도 성남시 수정구 신흥동","address2":null,"address3":null,"item_bm_type":"ZIGBANG","isCleanLessor":false},{"item_id":42200778,"section_type":null,"images_thumbnail":"https://ic.zigbang.com/ic/items/42200778/1.jpg","sales_type":"전세","sales_title":"전세","deposit":39000,"rent":0,"size_m2":105,"공급면적":{"m2":105,"p":"31.8"},"전용면적":{"m2":72,"p":"21.8"},"계약면적":null,"room_type_title":null,"floor":"7","floor_string":"7","building_floor":"16","title":"물량소진,버팀목가능,전입,보증보","is_first_movein":null,"room_type":"05","status":true,"tags":["추천"],"service_type":"오피스텔","random_location":{"lat":37.4415443814859,"lng":127.147469178637},"location":{"lat":37.4415443814859,"lng":127.147469178637},"manage_cost":"10","reg_date":"2024-09-23T11:50:30+09:00","is_new":false,"addressOrigin":{"local1":"경기도","local2":"성남시 수정구","local3":"신흥동","local4":"","fullText":"경기도 성남시 수정구 신흥동","localText":"성남시 수정구 신흥동"},"action":{"isRead":false,"readAt":null,"isInquired":false,"inquiredAt":null,"isRewarded":false,"rewardedAt":null,"isReported":false,"reportedAt":null,"isChecked":false,"checkedAt":null,"isZzim":false},"contract":"","address":"성남시 수정구 신흥동","is_zzim":false,"address1":"경기도 성남시 수정구 신흥동","address2":null,"address3":null,"item_bm_type":"ZIGBANG","isCleanLessor":false},{"item_id":42237485,"section_type":null,"images_thumbnail":"https://ic.zigbang.com/ic/items/42237485/1.jpg","sales_type":"전세","sales_title":"전세","deposit":39000,"rent":0,"size_m2":157.28,"공급면적":{"m2":157.28,"p":"47.6"},"전용면적":{"m2":72,"p":"21.8"},"계약면적":null,"room_type_title":null,"floor":"7","floor_string":"7","building_floor":"16","title":"HUG보증보험가능,버팀목전세대출가능,첫입주","is_first_movein":null,"room_type":"05","status":true,"tags":[],"service_type":"오피스텔","random_location":{"lat":37.4415443814859,"lng":127.147469178637},"location":{"lat":37.4415443814859,"lng":127.147469178637},"manage_cost":"12","reg_date":"2024-10-04T12:08:32+09:00","is_new":true,"addressOrigin":{"local1":"경기도","local2":"성남시 수정구","local3":"신흥동","local4":"","fullText":"경기도 성남시 수정구 신흥동","localText":"성남시 수정구 신흥동"},"action":{"isRead":false,"readAt":null,"isInquired":false,"inquiredAt":null,"isRewarded":false,"rewardedAt":null,"isReported":false,"reportedAt":null,"isChecked":false,"checkedAt":null,"isZzim":false},"contract":"","address":"성남시 수정구 신흥동","is_zzim":false,"address1":"경기도 성남시 수정구 신흥동","address2":null,"address3":null,"item_bm_type":"ZIGBANG","isCleanLessor":false},{"item_id":41955717,"section_type":null,"images_thumbnail":"https://ic.zigbang.com/ic/items/41955717/1.jpg","sales_type":"월세","sales_title":"월세","deposit":5000,"rent":55,"size_m2":29.75,"공급면적":{"m2":29.75,"p":"9"},"전용면적":{"m2":29.75,"p":"9"},"계약면적":null,"room_type_title":null,"floor":"4","floor_string":"4","building_floor":"10","title":"신축원룸신흥역 도보 1분거리 분리형원룸","is_first_movein":null,"room_type":"02","status":true,"tags":[],"service_type":"원룸","random_location":{"lat":37.4416478136853,"lng":127.14776115187},"location":{"lat":37.4416478136853,"lng":127.14776115187},"manage_cost":"9","reg_date":"2024-09-30T07:47:14+09:00","is_new":false,"addressOrigin":{"local1":"경기도","local2":"성남시 수정구","local3":"신흥동","local4":"","fullText":"경기도 성남시 수정구 신흥동","localText":"성남시 수정구 신흥동"},"action":{"isRead":false,"readAt":null,"isInquired":false,"inquiredAt":null,"isRewarded":false,"rewardedAt":null,"isReported":false,"reportedAt":null,"isChecked":false,"checkedAt":null,"isZzim":false},"contract":"","address":"성남시 수정구 신흥동","is_zzim":false,"address1":"경기도 성남시 수정구 신흥동","address2":null,"address3":null,"item_bm_type":"ZIGBANG","isCleanLessor":false}]}'

In [19]:
columns = ['item_id', 'deposit', 'rent', 'size_m2', 'address1']
data = response.json()['items']
df = pd.DataFrame(data)[columns]
df.head()

    item_id  deposit  rent  size_m2         address1
0  42123052      500    45    23.14  경기도 성남시 수정구 신흥동
1  42022206    39000     0   140.00  경기도 성남시 수정구 신흥동
2  42200778    39000     0   105.00  경기도 성남시 수정구 신흥동
3  42237485    39000     0   157.28  경기도 성남시 수정구 신흥동
4  41955717     5000    55    29.75  경기도 성남시 수정구 신흥동

In [21]:
len(ids)

300

In [23]:
page_block = 15
print(list(range(0,len(ids), 15)))

[0, 15, 30, 45, 60, 75, 90, 105, 120, 135, 150, 165, 180, 195, 210, 225, 240, 255, 270, 285]

In [25]:
datalist = []
for start in range(0,len(ids), 15):
    end = start + page_block
    # print(start,end)
    url = 'https://apis.zigbang.com/v2/items/list'
    params = {'domain':'zigbang', 'item_ids':ids[start:end]} # 데이터프레임1개 당 15개씩 
    response = requests.post(url,params)
    columns = ['item_id', 'deposit', 'rent', 'size_m2', 'address1']
    data = response.json()['items']
    df = pd.DataFrame(data)[columns]#
    datalist.append(df)

In [30]:
result = pd.concat(datalist, ignore_index = True)
result

      item_id  deposit  rent  size_m2         address1
0    42123052      500    45    23.14  경기도 성남시 수정구 신흥동
1    42022206    39000     0   140.00  경기도 성남시 수정구 신흥동
2    42200778    39000     0   105.00  경기도 성남시 수정구 신흥동
3    42237485    39000     0   157.28  경기도 성남시 수정구 신흥동
4    41955717     5000    55    29.75  경기도 성남시 수정구 신흥동
..        ...      ...   ...      ...              ...
295  42375512      200    30    16.50      서울시 관악구 신림동
296  41813997     4000    10    19.00      서울시 관악구 신림동
297  42037397     3000    10    19.00      서울시 관악구 신림동
298  42254912      100    40    17.00      서울시 관악구 신림동
299  42254935      100    35    16.20      서울시 관악구 신림동

[300 rows x 5 columns]