<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

# 6.딕셔너리(Dictionary) 자료형

<img src='https://raw.githubusercontent.com/jangrae/img/master/dictionary2.png' width=600 align="left"/>

- 딕셔너리는 집합과 마찬가지로 **중괄호({ })** 를 사용해 선언합니다.
- 하지만 {Key1: Value1, Key2: Value2, Key3: Value3}의 형태를 가지므로 집합과 구분됩니다.
- 딕셔너리는 순서의 의미가 없으며, **키(Key)를 사용해 값(Value)을 확인합니다.**
- 리스트와 더불어 많이 사용되는 자료형이니 필히 익숙해져야 합니다.

<img src='https://raw.githubusercontent.com/jangrae/img/master/dictionary.png' width=600 align="left"/>

**참고: 딕셔너리 요소 순서**

~~~
딕셔너리는 파이썬 3.6 이전 버전까지 정렬되지 않은 자료 구조로 간주되었습니다. 즉, 딕셔너리에 요소를 추가한 순서가
유지되지 않아서, 조회할 때 요소들이 추가된 순서대로 나타나지 않을 수 있었습니다. 그러나 파이썬 3.6부터 딕셔너리가
내부적으로 삽입 순서를 유지하기 시작했습니다. 이 부분이 공식적으로 문서화되지 않았지만, 대부분의 경우 순서가 유지
되는 것을 경험할 수 있었습니다. 3.7 버전부터 요소 순서 유지 기능이 공식화되어, 딕셔너리가 삽입된 요소 순서를 유지
한다고 보장합니다. 즉, 파이썬 3.7 이상에서는 딕셔너리에 요소를 추가하면, 그 순서대로 요소들이 내부적으로 정렬되어
있으며, 딕셔너리를 조회할 때 그 순서대로 요소를 얻을 수 있습니다.
~~~

## 6.1.딕셔너리 만들기

### 6.1.1.딕셔너리 직접  만들기

**1) 일정한 정보를 갖는 딕셔너리**

In [1]:
# 영어:한글
word = {'love': '사랑', 'happy': '행복', 'dream': '꿈'}

# 확인
word

{'love': '사랑', 'happy': '행복', 'dream': '꿈'}

In [3]:
# 이름:점수
score ={'양정우':100 , "김민재":150 }

# 확인
score

{'양정우': 100, '김민재': 150}

- 다음과 같이 요소를 아래로 나열하면 가독성이 좋아집니다.

In [ ]:
# 이름:점수
score = {'홍길동': 100,
         '한여인': 90,
         '일지매': 90}

# 확인
score

**2) 다양한 정보를 갖는 딕셔너리**

- 리스트나 튜플을 Value로 가질 수 있습니다.

In [ ]:
# 다양한 정보를 갖는 딕셔너리
member1 = {'이름':'홍길동',
           '나이': 20,
           '지역':'서울'}

# 확인
member1

In [ ]:
# Value가 리스트인 딕셔너리
member2 = {'이름': '홍길동',
           '취미': ['독서', '여행', '걷기']}

# 확인
member2

**3) 숫자가 Key인 경우**

- 당연히 숫자도 Key가 될 수 있습니다.

In [ ]:
# 숫자가 Key인 리스트
nums = {1:10, 2:20, 3:30}

# 확인
nums

**4) 같은 Key 무시**

- 만일 Key가 같은 요소가 있으면 하나만 남기고 나머지는 무시됩니다.

In [ ]:
# 딕셔너리 만들기
score = {'홍길동': 100,
         '한여인': 90,
         '홍길동': 95,
         '한여인': 90,
         '한국인': 75,
         '일지매': 90}

# 확인
score

**[참고] Key가 될 수 없는 리스트**

- 당연히 Key는 변경되면 안됩니다.
- 튜플은 변경 불가능한 자료형이지만, **리스트는 변경 가능**한 자료형입니다.
- 그러므로 리스트는 딕셔너리의 Key가 될 수 없습니다.

In [7]:
# Key가 튜플인 딕셔너리
member = {('이름', '나이'): ['홍길동', 20]}

# 확인
member.keys()

dict_keys([('이름', '나이')])

In [9]:
# Key가 리스트인 딕셔너리(?)
member = {['이름', '나이']: ['홍길동', 20]}

TypeError: unhashable type: 'list'

### 6.1.2.딕셔너리로 자료형 변환

- **dict() 함수**를 사용해 Key:Value 형태를 가질 수 있는 자료형을 딕셔너리로 변환합니다.
- 대부분 리스트로 딕셔너리를 만듭니다.

**1) 리스트 → 딕셔너리 변환**

- [Key, Value] 형태의 요소를 갖는 리스트를 딕셔너리로 변환해 봅니다.

In [13]:
# 리스트 만들기
members = [['홍길동', 100], ['일지매', 90], ['한여인', 90], ['강우동', 95]]

# 딕셔너리로 변환
member_dic = dict(members)

# 확인
member_dic

{'홍길동': 100, '일지매': 90, '한여인': 90, '강우동': 95}

**2) 튜플 → 딕셔너리 변환**

- 당연히 튜플을 딕셔너리로 변환할 수 있습니다.

In [15]:
# 튜플 만들기
members = (('홍길동', 100), ('일지매', 90), ('한여인', 90), ('강우동', 95))

# 딕셔너리로 변환
member_dic =  dict(members)

# 확인
member_dic

{'홍길동': 100, '일지매': 90, '한여인': 90, '강우동': 95}

## 6.2.딕셔너리 조회

- 딕셔너리는 요소 순서가 없으므로 인덱싱과 슬라이싱을 할 수 없습니다.
- **Key를 사용해 Value를 찾는 방식으로 조회합니다.**

In [21]:
# 딕셔너리 만들기
member = {'이름': '홍길동',
          '취미': ['독서', '여행', '걷기']}

In [23]:
# 이름 조회
member['이름']

'홍길동'

In [25]:
# 취미 조회
member['취미']

['독서', '여행', '걷기']

- **in** 연산자를 사용해 해당 key가 있는지 확인할 수 있습니다.

In [47]:
# 데이터 존재 여부 확인
print('이름' in member)             # True
print('홍길동' in member)           # False
print('여행' in member['취미'])     # True

True
False
True

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 다음 정보를 갖는 members 라는 딕셔너리를 만들고 조회해 보세요.

- 이름: 홍길동, 한사랑, 일지매, 박여인
- 나이: 23, 21, 26, 25
- 지역: 서울, 부산, 인천, 대전
- 언어: 자바, 파이썬, 파이썬, 닷넷

In [51]:
# 딕셔너리 만들기
members ={ '이름': ['홍길동', '한사람','일지매','박여인'],
          '나이': [23,21,26,25],
         '지역': ['서울','부산','인천','대전'],
         '언어': ['자바','파이썬','파이썬','닷넷']}




# 확인
members

{'이름': ['홍길동', '한사람', '일지매', '박여인'],
 '나이': [23, 21, 26, 25],
 '지역': ['서울', '부산', '인천', '대전'],
 '언어': ['자바', '파이썬', '파이썬', '닷넷']}

In [59]:
# 이름 조회
members['이름']

['홍길동', '한사람', '일지매', '박여인']

In [61]:
# 나이 조회
members['나이']

[23, 21, 26, 25]

In [65]:
# 지역 조회
members['지역']

['서울', '부산', '인천', '대전']

In [67]:
# 언어 조회
members['언어']

['자바', '파이썬', '파이썬', '닷넷']

## 6.3.딕셔너리 변경, 추가와 삭제

- 인덱스 대신 Key로 찾아 변경한다는 것 외에는 리스트와 같습니다.

**1) 변경, 추가**

In [69]:
# 딕셔너리 만들기
member = {'이름': '홍길동',
          '나이': 20}

# 확인
member

{'이름': '홍길동', '나이': 20}

In [71]:
# 딕셔너리 요소 값 변경(나이 = 30)
member['나이'] = 30

# 확인
member

{'이름': '홍길동', '나이': 30}


- 없는 Key로 변경하면 Key:Value 형태로 추가됩니다.

In [73]:
# 딕셔너리에 요소 추가(취미 = 독서, 여행)
member['취미'] = ['독서','여행']

# 확인
member

{'이름': '홍길동', '나이': 30, '취미': ['독서', '여행']}

**2) 삭제**

In [75]:
# 딕셔너리 만들기
member = {'이름': '홍길동',
          '나이': 20,
          '지역':'서울',
          '성별': 'M',
          '등급': 'Gold'}

# 확인
member

{'이름': '홍길동', '나이': 20, '지역': '서울', '성별': 'M', '등급': 'Gold'}

- **del** 문으로 Key를 지정해 해당 요소를 삭제합니다.

In [78]:
# 지정한 요소 삭제
del member['나이']

# 확인
member

{'이름': '홍길동', '지역': '서울', '성별': 'M', '등급': 'Gold'}

- **pop()** 메서드를 사용하면 Key를 지정해 요소를 삭제할 수 있습니다.
- 그리고 삭제된 요소의 Value를 반환받습니다.

In [81]:
# 지정한 요소 삭제
del_member = member.pop('지역')

# 확인
print(del_member)
print(member)

서울
{'이름': '홍길동', '성별': 'M', '등급': 'Gold'}

- **popitem()** 메서드로 Key 지정 없이 마지막 요소부터 삭제할 수 있습니다.
- 그리고 삭제된 요소의 key와 Value를 튜플 형태로 반환받습니다.

In [84]:
# 임의 요소 삭제
del_member = member.popitem()

# 확인
print(del_member)
print(member)

('등급', 'Gold')
{'이름': '홍길동', '성별': 'M'}

- 모든 요소 삭제는 **딕셔너리 = { }** 형태로 수행합니다.

In [87]:
# 딕셔너리에서 모든 요소 삭제
member= {}

# 확인
member

{}

## 6.4.딕셔너리 관련 메서드

- 딕셔너리 관련 메서드를 살펴봅니다.

**1) Key 확인**

- **keys()** 메서드를 사용해 Key 정보를 확인합니다.
- 모든 Key를 요소로 갖는 dict_keys 개체를 반환합니다.

In [104]:
# 딕셔너리 만들기
member = {'이름': '홍길동',
          '취미': ['독서', '여행', '걷기']}

# 확인
member

{'이름': '홍길동', '취미': ['독서', '여행', '걷기']}

In [92]:
# Key 확인
member.keys()

dict_keys(['이름', '취미'])

In [100]:
# Key만 뽑아 리스트 만들기
member_keys = list(member.keys())

# 확인
member_keys

['이름', '취미']

**2) Value 확인**

- **values()** 메서드를 사용해 Value 정보를 확인합니다.
- 모든 Value를 요소로 갖는 dict_values 개체를 반환합니다.

In [106]:
# Value 확인
member.values()

dict_values(['홍길동', ['독서', '여행', '걷기']])

In [110]:
# Value만 뽑아 리스트 만들기
member_values = list(member.values())

# 확인
member_values

['홍길동', ['독서', '여행', '걷기']]

**3) Key, Value 확인**
- **items()** 메서드를 사용해 Key와 Value 정보를 확인합니다.
- 모든 key와 value를 (key, value) 형태로 갖는 dict_items 개체를 반환합니다.

In [112]:
# Key, Value 확인
member.items()

dict_items([('이름', '홍길동'), ('취미', ['독서', '여행', '걷기'])])

**4) 모든 요소 삭제**
- **clear()** 메서드를 사용해 모든 요소를 삭제합니다.

In [114]:
# 모든 요소 삭제
member.clear()

# 확인
member

{}

**5) 찾기(없을 때 대신할 값 지정)**

- **get()** 메서드를 사용해 Key를 지정해 Value를 찾을 수 있습니다.
- Key로 Value를 찾을 수 없을 때 대신 반환할 값을 지정할 수 있습니다.

In [124]:
# 딕셔너리 만들기
member = {'이름': '홍길동', '취미': ['독서', '여행', '걷기']}

# 확인
member

{'이름': '홍길동', '취미': ['독서', '여행', '걷기']}

In [126]:
# 이름 확인
print(member.get('이름'))  # member['이름']과 같은 결과 
print(member['이름'])

홍길동
홍길동

In [132]:
# 이메일 확인
print(member.get('이메일'))  # member['이메일']과 같은 결과 
print(member['이메일'])

None

KeyError: '이메일'

- 대응되는 Value를 찾지 못할 경우 반환되는 값을 '없음'으로 지정해봅니다.

In [134]:
# 이메일 확인, 없으면 '없음' 표시
member.get('이메일', '없음')
# member['이메일'] = '없음'

'없음'

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 다음 구문을 파악하고 실행해서 3개의 딕셔너리를 만드세요.

In [136]:
# 딕셔너리 만들기
stu01 = {
    'no': 1,
    'name': '홍길동',
    'score': [92, 96, 98]
}
stu02 = {
    'no': 2,
    'name': '한사랑',
    'score': [98, 64, 100]
}
stu03 = {
    'no': 3,
    'name': '일지매',
    'score': [88, 84, 92]
}

# 확인
print(stu01)
print(stu02)
print(stu03)

{'no': 1, 'name': '홍길동', 'score': [92, 96, 98]}
{'no': 2, 'name': '한사랑', 'score': [98, 64, 100]}
{'no': 3, 'name': '일지매', 'score': [88, 84, 92]}

[문2] 각 학생들의 번호에 10씩 더하세요.

In [139]:
# 번호 + 10

stu01['no'] += 10
stu02['no'] += 10
stu03['no'] += 10


# 확인
print(stu01)
print(stu02)
print(stu03)

{'no': 11, 'name': '홍길동', 'score': [92, 96, 98]}
{'no': 12, 'name': '한사랑', 'score': [98, 64, 100]}
{'no': 13, 'name': '일지매', 'score': [88, 84, 92]}

[문3] 각 학생별로 점수 평균을 구하세요.

In [149]:
# 평균 구하기
stu01_mean = sum(stu01['score']) / len(stu01['score'])
stu02_mean = sum(stu02['score']) / len(stu02['score'])
stu03_mean = sum(stu03['score']) / len(stu03['score'])

# 확인
print(stu01_mean)
print(stu02_mean)
print(stu03_mean)

95.33333333333333
87.33333333333333
88.0

[문4] 아래 out을 이용하여 stu01, stu02, stu03의 번호, 이름, 평균점수를 출력하세요.

In [152]:
# 출력 형태
out = '번호: {}, 이름: {}, 평균점수: {}'

# 출력
print(out.format(stu01['no'],stu01['name'],stu01_mean))
print(out.format(stu02['no'],stu02['name'],stu02_mean))
print(out.format(stu03['no'],stu03['name'],stu03_mean))

번호: 11, 이름: 홍길동, 평균점수: 95.33333333333333
번호: 12, 이름: 한사랑, 평균점수: 87.33333333333333
번호: 13, 이름: 일지매, 평균점수: 88.0

[문5] 평균점수는 소수점 이하 2자리만 보이게 수정해서 출력하세요.

In [155]:
# 출력 형태
out = '번호: {}, 이름: {}, 평균점수: {:.2f}'

# 출력
print(out.format(stu01['no'],stu01['name'],stu01_mean))
print(out.format(stu02['no'],stu02['name'],stu02_mean))
print(out.format(stu03['no'],stu03['name'],stu03_mean))

번호: 11, 이름: 홍길동, 평균점수: 95.33
번호: 12, 이름: 한사랑, 평균점수: 87.33
번호: 13, 이름: 일지매, 평균점수: 88.00

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/fighting.png' width=350/></center>