<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/practice.png' width=300/></center>

# 실습 #1: 조건문(if문)

1) 변수 score에 임의의 점수를 저장하고, 점수가 90보다 크거나 같으면 'pass'를 출력하세요.

In [5]:
score = 100

if score >= 90:
    print('pass')

pass

2) 변수 age에 임의의 나이를 저장하고, 다음 조건에 맞게 출력하도록 아래 구문을 완성하세요.

- 10보다 작으면 '10세 미만'
- 20보다 작으면 '10대'
- 30보다 작으면 '20대'
- 40보다 작으면 '30대'
- 50보다 작으면 '40대'
- 아니면 '50대 이상'

In [7]:
age = 32

if age < 10:
    print('10세 미만')
elif age < 20:
    print('10대')
elif age < 30:
    print('20대')
elif age < 40:
    print('30대')
elif age < 50:
    print('40대')

else:
    print('50대 이상')

30대

3) 변수 score에 임의의 점수를 저장하고, 다음의 조건에 맞게 출력하도록 아래 구문을 완성하세요.

- 90 <= score 이면  'A'
- 80 <= score < 90 이면 'B'
- 70 <= score < 80 이면 'C'
- 60 <= score < 70 이면 'D'
- score < 60 이면 'F'

In [9]:
score = 55

if (90 <= score):
    print('A')
elif (80 <= score < 90):
    print('B')
elif (70 <= score < 80):
    print('C')
elif (60 <= score < 70):
    print('D')
else:
    print('F')

F

4) 변수 num1에 임의의 숫자를 저장하고, 다음 조건에 맞게 출력하세요.

- 숫자가 11의 배수일 경우 '11의 배수입니다.'
- 아니면, '11의 배수가 아닙니다.'

In [11]:

num1 = 121

if num1 %11 ==0:
    print('11의 배수입니다.')
else:
    print('11의 배수가 아닙니다.')

11의 배수입니다.

# 실습 #2: 반복문(for 문)

1) 0에서 5까지 1씩 증가시켜가면서 값을 한줄씩 출력하세요.

In [13]:
for i in range(6):
    print(i)

0
1
2
3
4
5

2) 다음 모양을 출력하세요.

- 힌트: 각 줄마다 출력해야 하는 '*'의 수가 하나씩 증가한다는 것을 이용해 봅니다.

~~~
*
**
***
****
*****
~~~

In [15]:

for i in range(6):
    print('*'*i)

*
**
***
****
*****

3) 다음 모양을 출력하시오.

- 힌트: 각 줄마다 출력해야 하는 ' '(공백)과 '*'의 수의 규칙을 생각해 봅니다.

~~~
    *
   **
  ***
 ****
*****
~~~

In [17]:
n = 6
for i in range(n):
    print(' '*(n-1-i)+'*'*i)

    *
   **
  ***
 ****
*****

4) 다음 모양을 출력하세요.

~~~
*
%%
***
%%%%
*****
~~~

In [19]:

for i in range(6):
    if i%2 == 1:
        print('*'*i)
    else:
        print('%'*i)

*
%%
***
%%%%
*****

5) 1부터 100까지 모두 더하세요.

In [23]:
s = 0
for i in range(1,101):
    s += i
print(s)

5050

6) 1부터 100까지 홀수만 더하세요.

In [25]:

s = 0
for i in range(1,101):
    if i %2 ==1:
        s += i
print(s)

2500

7) 1부터 100까지 홀수는 모두 더하고, 짝수는 모두 빼세요.

- 힌트: for loop 내에 if 사용하여 홀수와 짝수의 경우를 나누어 생각해 봅니다.

In [27]:

s = 0
for i in range(1,101):
    if i %2 ==1:
        s += i
    else:
        s -= i
print(s)

-50

8) [심화] 2단부터 9단까지 구구단을 아래 예시와 같이 출력하세요.

~~~
구구단 2 단을 출력합니다.  
2 x 1 = 2  
2 x 2 = 4  
2 x 3 = 6  
2 x 4 = 8  
2 x 5 = 10  
2 x 6 = 12  
2 x 7 = 14  
2 x 8 = 16  
2 x 9 = 18  
구구단 3 단을 출력합니다.  
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
(생략)
~~~

* 힌트: for loop를 중첩해서 수행해야 합니다.

In [29]:
for i in range(2,10):
    print(f'구구단 {i} 단을 출력합니다.')
    for j in range(1,10):
        print(f'{i} x {j} = {i*j}')

구구단 2 단을 출력합니다.
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
구구단 3 단을 출력합니다.
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
구구단 4 단을 출력합니다.
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
구구단 5 단을 출력합니다.
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
구구단 6 단을 출력합니다.
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
구구단 7 단을 출력합니다.
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
구구단 8 단을 출력합니다.
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
구구단 9 단을 출력합니다.
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

# 실습 #3: 반복문(while 문)

1) 0부터 5까지 1씩 증가시키면서 값을 출력하세요.

- 힌트: while 변수 <= 범위의 마지막 값:

In [61]:
i = 0
while i <=5:
    print(i)
    i += 1

0
1
2
3
4
5

2) 1부터 100까지 3의 배수만 더하세요.

In [69]:
i = 1
s= 0
while i <=100:
    if i %3 ==0:
        s += i

    i += 1
print(s)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
1683

3) 변수 num에 숫자를 저장하고, 한 개의 문장을 입력받아 num개 만큼 출력하세요.

In [77]:
num = 3

s = input()

while num >0:
    print(s)
    num -=1

 1566

1566
1566
1566

4) [심화] 홍길동의 과목별 점수는 아래와 같습니다.

- 국어: 96점, 수학: 72점, 영어: 88점
- 변수 kor, math, eng에 각 과목 점수를 저장한 뒤,
- 과목명을 입력받아, 해당하는 과목의 점수를 출력하고 종료합니다.
- 일치하는 과목명이 없으면 '잘못 입력하셨습니다.'를 출력하며 다시 입력 받게 합니다.

In [79]:
kor = 96
math = 72
eng = 88

while True:
    sub = input()
    if sub == 'kor':
        print(f'{sub} : {kor}')
        break
    elif sub == 'math':
        print(f'{sub} : {math}')
        break
    elif sub == 'eng':
        print(f'{sub} : {eng}')
        break
    else:
        print('잘못 입력했습니다 다시 입력해주세요')

 kor

kor : 96

5) [심화] 5,000원의 돈을 갖고 있습니다. 동료들과 AIVLE 로봇카페에서 아메리카노를 구매하려고 합니다. (아메리카노는 한잔에 1,300원)

- 갖고 있는 돈을 변수 money, 커피 한 잔의 가격을 변수 coffee에 저장합니다.
- '아메리카노를 구입하시겠습니까?'에 대한 대답을 입력받아, 대답이 '네'일 경우 커피가 판매됩니다.
- 다른 대답을 할 경우 '다시 입력해 주세요.'라고 출력합니다.
- 한 잔을 구매할 때마다 남은 돈을 변수 money에 저장하여 출력합니다.
- 커피를 살 돈이 모자랄 경우 '돈이 모자랍니다. 커피를 구입할 수 없습니다.'라고 출력하고 종료합니다.
- 힌트: while 문 내에서 if 조건문을 중첩해서 사용해야 합니다.

In [81]:
money = 5000
coffee = 1300

while True:
    print('아메리카노를 구입하시겠습니까?')
    answer = input()
    if answer == '네':
        money -= coffee
        if money >= 0:
            print(f'남은 금액:{money}')
        else:
            print('돈이 모자랍니다. 커피를 구입할 수 없습니다 Bye~')
            break
    else:
        print('다시 입력해 주세요.')

아메리카노를 구입하시겠습니까?

 네

남은 금액:3700
아메리카노를 구입하시겠습니까?

 네

남은 금액:2400
아메리카노를 구입하시겠습니까?

 네

남은 금액:1100
아메리카노를 구입하시겠습니까?

 네

돈이 모자랍니다. 커피를 구입할 수 없습니다

# 실습 #4: 리스트, 딕셔너리와 반복문

1) 리스트 a = ['사자', '코끼리', '하마', '기린', '얼룩말'] 일 때

- 반복문으로 a의 값들을 하나씩 출력하세요.

In [31]:
a = ['사자', '코끼리', '하마', '기린', '얼룩말']

for i in a:
    print(i)

사자
코끼리
하마
기린
얼룩말

2) 리스트 b = ['인어공주', '알라딘', '겨울왕국', '라푼젤'] 일 때

- b에 '라이언킹'를 추가하고, 값을 하나씩 출력하세요.
- 힌트: append() 메서드로 값 하나를 추가합니다

In [33]:
b = ['인어공주', '알라딘', '겨울왕국', '라푼젤']
b.append('라이언킹')

for i in b:
    print(i)

인어공주
알라딘
겨울왕국
라푼젤
라이언킹

3) 빈 리스트 multiple7을 생성하고, 1부터 100까지의 값들 중 7의 배수를 multiple7에 저장하고, 리스트를 출력하세요.

- 힌트
    - 빈 리스트는 대괄호([ ]) 안을 비워둔 채로 저장하면 됩니다.
    - if문을 사용하여 7의 배수인지 판정한 후 값을 추가합니다.

In [35]:

multiple7 = []

for i in range(1,101):
    if i %7 ==0:
        multiple7.append(i)
print(multiple7)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

4) 빈 리스트 my_list를 생성하고

- 다섯 개의 숫자를 입력받아(int(input())) my_list에 저장하고
- 리스트의 값들을 정렬해서 출력하세요.

In [39]:
my_list = []

#my_list = map(int,input().split())

for i in range(5):
    my_input = int(input())
    my_list.append(my_input)
    
print(sorted(my_list))

 5
 7
 3
 5
 8

[3, 5, 5, 7, 8]

5) 딕셔너리 dict_a = {'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}}일 때

- dict_a의 키와 값을 차례대로 출력하세요.
- 힌트: 딕셔너리.items()

In [45]:
dict_a = {'v1': 32, 
          'l1': [1,2,3], 
          'd1': {'a':1, 'b':2}}

for (key , value) in dict_a.items():
    print(f'{key} {value}')

v1 32
l1 [1, 2, 3]
d1 {'a': 1, 'b': 2}

6) [심화] 아이스크림 할인점에서 판매하는 아이스크림의 가격은 다음과 같습니다.

- 가격
    - 메로나: 400원(할인가: 380원)
    - 비비빅: 400원(할인가: 350원)
    - 탱크보이: 500원(할인가: 450원)
    - 월드콘: 1,000원(할인가: 900원)

- 과제1    
    - 아이스크림 이름을 키, [정가, 할인가]를 값으로 갖는 딕셔너리 icecream을 생성하세요.
- 과제2
    - 변수 today에 요일을 대입해(예: today = '일')
    - 주말(토, 일)이면, 아이스크림 이름과 할인가를 출력하세요.
    - 평일이면, 아이스크림 이름과 정가를 출력하세요.

In [59]:
# 과제1

icecream = {'메로나':[400,380],
            '비비빅':[400,350],
            '탱크보이':[500,450],
            '월드콘':[1000,900]}

# 과제2
# 오늘의 요일 확인
from datetime import datetime
dt = datetime.now()
week_num = dt.weekday()

if week_num == 0:
    today = '월'
elif week_num == 1:
    today = '화'
elif week_num == 2:
    today = '수'
elif week_num == 3:
    today = '목'
elif week_num == 4:
    today = '금'
elif week_num == 5:
    today = '토'
elif week_num == 6:
    today = '일'
else:
    today ='Error'

weekend = ['토', '일']
weekday = ['월','화','수','목','금']

if today in weekend:
    for key , value in icecream.items():
        print(f'{today}요일(주말) {key} 의 가격: {value[1]}')
else:
    for key , value in icecream.items():
        print(f'{today}요일(평일) {key} 의 가격: {value[0]}')

월요일(평일) 메로나 의 가격: 400
월요일(평일) 비비빅 의 가격: 400
월요일(평일) 탱크보이 의 가격: 500
월요일(평일) 월드콘 의 가격: 1000