<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/practice.png' width=300/></center>

# 실습 #1: Input

1) 함수 hello_world를 만들어 보세요.

- 이름 값을 받는 입력 매개변수 name(문자)
- 'Hello '와 ' , welcome to Python World!' 사이에 name을 넣어 출력
- name에 값을 지정하여 함수의 결과를 확인하세요.


        hello_world('Ann')
        ------------------
        Hello Ann, welcome to Python World!

In [4]:

def hello_world(name):
    return 'Hello ' + name + ', welcome to Python World!'


print(hello_world('Ann'))

Hello Ann, welcome to Python World!

2) 함수 say_hey를 만들어 보세요.

- 횟수를 받는 입력 매개변수 count(숫자)
- 입력받은 count만큼 'Hey! '를 출력
- count에 값을 지정하여 함수의 결과를 확인하세요.


        say_hey(5)
        -----------------------
        Hey! Hey! Hey! Hey! Hey!

In [8]:

def say_hey(count):
    return 'Hey! '* count

print(say_hey(5))

Hey! Hey! Hey! Hey! Hey!

3) 함수 hello를 만들어 보세요.

- 이름 값을 받는 입력 매개변수 name(문자), 숫자를 받는 loud(숫자) (이때, loud = 1로 선언)
- loud = 1일 때, 'HELLO '와  '!!!' 사이에 name(대문자)을 넣어 출력
- loud = 0이면, 'Hello '와 '.' 사이에 name(소문자)을 넣어 출력
- name, loud에 값을 지정하여 함수의 결과를 확인하세요.
- name에만 값을 지정하여 함수의 결과를 확인하세요.



        hello(name='Kim', loud=0)
        hello(name='Kim')
        -----------------------
        Hello kim.
        HELLO KIM!!!

In [10]:

def hello(name, loud=1):
    if loud == 1:
        return 'HELLO '+ name.upper()+"!!!"
    elif loud ==0:
        return 'Hello '+ name.lower()+"."
    else:
        return 0 

print(hello(name='Kim', loud=0))
print(hello(name='Kim'))

Hello kim.
HELLO KIM!!!

4) 함수 add를 만들어 보세요.

- 계산할 숫자들을 받는 입력 매개변수 a(숫자), b(숫자)
- a와 b의 합을 변수 hap에 저장
- '덧셈 결과는' 뒤에 hap의 값을 넣어서 출력 (덧셈 결과는 hap 형태)
- a, b에 값을 지정하여 함수의 결과를 확인하세요.


        add(7, 2)
        ------------
        덧셈 결과는 9

In [14]:

def add(a,b):
    hap = a + b
    return '덧샘 결과는 '+ str(hap)

print(add(7,2))

덧샘 결과는 9

5) 함수 numbers를 만들어 보세요.

- 출력할 숫자들을 받는 입력 매개변수 nums(숫자)는 입력 값의 수를 정하지 않고 들어오는 대로 받음
- 입력받은 숫자들을 출력
- nums에 값을 지정하여 함수의 결과를 확인하새요.
- 힌트: 입력받을 매개변수의 수를 지정하지 않고 사용하려면 *nums



        numbers(2, 4, 6, 8, 10)
        ---------------------
        (2, 4, 6, 8, 10)

In [16]:

def numbers(*nums):
    return (nums) # 튜플 반환 , () 생략해도 됩니다 

print(numbers(2,4,6,8,10))

(2, 4, 6, 8, 10)

6) 함수 average를 만들어 보세요.

- 평균을 구할 수들을 받는 입력 매개변수 nums(숫자)는 입력 값의 수를 정하지 않고 들어오는 대로 받음
- 입력받은 숫자들의 평균을 변수 avg에 저장하여 출력
- nums에 값을 지정하여 함수의 결과를 확인하새요.



        average(2, 4, 6, 8, 10)
        ------------------------
        6.0

In [18]:

def average(*nums):
    return sum(nums)/len(nums) # 튜플 반환 , () 생략해도 됩니다 

print(average(2,4,6,8,10))

6.0

# 실습 #2: Output

1) 함수 calculate1을 만들어 보세요.

- 입력 매개변수: 숫자1, 숫자2, 사칙연산 부호(+,-,*,/)
- 숫자1과 숫자2 사이에 사칙연산자 부호에 해당하는 연산을 수행 후 결과를 print로 출력


        calculate1(11, 2, '*')
        ---------------
        22

In [26]:
def calculate1(a,b,opperand):
    if opperand =='+':
        return a+b
    elif opperand =='-':
        return a-b
    elif opperand =='*':
        return a*b
    else:
        return a/b

print(calculate1(11,2,'*'))

22

2) 위에서 만든 calcuate1의 결과를 변수 c로 저장해 보세요.  

- 그런 다음 c를 출력해 보세요.
- 결과가 담기나요?

In [28]:
def calculate1(a,b,opperand):
    if opperand =='+':
        c = a+b
        return c
    elif opperand =='-':
        c = a-b
        return c
    elif opperand =='*':
        c = a*b
        return c
    else:
        c = a/b
        return c

print(calculate1(11,2,'*'))

22

3) 위에서 만든 calcuate1의 결과를 변수 c로 저장하기 위해서

- 결과를 반환하도록 코드를 수정하세요.
- 힌트: return
- 이제 다시 결과를 c로 저장하고 출력하세요.
- 결과가 담기나요?

In [ ]:


def calculate1(a,b,opperand):
    if opperand =='+':
        c = a+b
        return c
    elif opperand =='-':
        c = a-b
        return c
    elif opperand =='*':
        c = a*b
        return c
    else:
        c = a/b
        return c

print(calculate1(11,2,'*'))

4) 함수 calculate2를 만들어 보세요.

- 숫자 두개를 받아서 몫과 나머지를 계산하고 두 결과를 반환
- 함수 실행 후 결과를 r1, r2에 저장한 후 출력하세요.


        r1, r2 = calculate2(11, 2)
        print(r1, r2)
        ---------------------------
        5  1

In [32]:

def calculate2(a,b):
    return (a//b , a%b) # 결과는 튜플 ,  () 생략해도 됩니다 

r1, r2 = calculate2(11,2)

print(r1,r2)

5 1

5) [심화] 함수 even을 만들어 보세요.

- 입력 매개변수로 리스트를 입력받아.
- 입력받은 리스트 값들 중 짝수로만 구성된 새로운 리스트를 반환
- 힌트: 함수 처리 코드 내 짝수를 저장할 빈 리스트 result 생성


        even([2, 3, 6, 8, 11])
        ------------------------
        [2, 6, 8]

In [56]:
def even(nums):
    result = []
    for n in nums:
        if n %2 ==0:
            result.append(n)
    return result

print(even([2,3,6,8,11]))

[2, 6, 8]

# 실습 #3: 예외처리

1) 함수 divide를 만들어 보세요.  

- 입력변수: num1, num2
- 처리: num1 / num2
- 결과: 나눈 결과를 반환

- 함수를 만들고 숫자 두개를 넣고 결과를 확인해 보세요.

In [42]:

def divide(num1,num2):

    return num1/num2

print(divide(15,2))

7.5

2) 위 문제에서 만약 num2에 0을 넣으면 오류가 발생합니다.

- ZeroDivisionError: division by zero
- 이를 해결하기 위해 오류 처리 코드를 넣어 보세요.
- num2에 0이 들어오면, '0으로 나눌 수 없습니다.' 라고 출력하고,
- num2에 다른 숫자가 들어오면, 나눈 결과를 반환하세요.


        divide(10, 0)
        ----------------
        0으로 나눌 수 없습니다.

In [46]:


def divide(num1,num2):
    if num2 != 0:
        return num1/num2
    else:
        return'0으로 나눌 수 없습니다.'

print(divide(15,0))

0으로 나눌 수 없습니다.

3) 위 결과에 이어서, num1, num2 모두 int 인지 확인하는 코드도 작성하세요.

- 힌트: 정수인지 확인 type(num1) is int


        divide(10, 'a')
        ----------------------
        입력값이 모두 숫자여야 합니다.

In [54]:
def divide(num1,num2):
    if num2 != 0 and type(num1) is int and type(num2) is int:
        return num1/num2
    else:
        if num2 ==0:
            return'0으로 나눌 수 없습니다.'
        if type(num1) is not int or type(num2) is not int:
            return '입력값이 모두 숫자여야 합니다.'
            

print(divide(15,0))

0으로 나눌 수 없습니다.