# **토익 진단평가 데이터 다듬기**
# 단계1 : 데이터 전처리
 * 이번 시간에는 파이썬을 활용한 AI모델링에서 전처리에 대해 실습해보겠습니다.
 * 전처리란 데이터 분석을 수행하기 전에 데이터를 적절한 형태로 가공하는 과정을 말합니다. 
 * 머신러닝과 AI모델링에서 60~70% 차지하는 부분이 바로 전처리 파트입니다.
 * 굉장히 시간과 노력이 많이 투입되며, 어려운 부분일 수 있습니다.
 * 데이터의 이상치나 결측치를 제거하거나, 변수를 수치형으로 변환하거나, 표준화나 정규화를 적용하는 등의 작업이 있습니다.
 * 데이터가 깨끗이 정리되지 않으면 머신러닝/AI 성능을 장담할 수 없습니다.
 * 데이터 전처리에 심혈을 기울여주시기 바라며, 이론보다 실습이 더 많은 시간과 노력이 투자되어야 합니다.

## 0.미션 확인

* 개요
    * 응시할 토익점수를 예측해주는 모델을 생성하기 위한 데이터를 전처리하려고 합니다.
    * 이를 위해 주어진 데이터는 응시자별 3회차씩의 토익점수와 당시 학습방식 등의 정보 입니다.
    * 관련 토익점수 및 학습정보 데이터를 분석하여 미니프로젝트 1차 이후에 예측 모델을 개발하여 
      토익 응시생들에게 도움이 되는 솔루션을 개발하려고 합니다.
* 전처리 단계 목표
    * 3회차(3행)의 데이터를 하나의 분석단위(1행)로 만들기 위해 응시자별 데이터를 집계합니다.
    * 응시자는 하나의 ID로 구분됩니다.
    * 응시회차는 seq로 구분됩니다. 모든 응시자가 1,2,3 의 회차 값을 갖고 있습니다.
* 학습목차
    0) 미션 내용 확인
    1) 환경설정 : 라이브러리 불러오기 및 파일 읽어오기
    2) 데이터프레임 탐색
    3) 데이터 전처리 수행 (불필요 컬럼 삭제, Null 처리, 중복값 제거, 한 행으로 합치기 등)
    4) 결과 저장하기

## 1.환경설정

### (1) 라이브러리 불러오기

* **세부 요구사항**
    - 기본적으로 필요한 라이브러리를 import 하도록 코드를 작성해주세요.
    - 필요하다고 판단되는 라이브러리를 추가하겠습니다.

In [7]:
#[문제] pandas, numpy 라이브러리를 임포트하세요.

In [8]:
import pandas as pd
import numpy as np

### (2) 데이터 불러오기
* 읽어올 데이터 파일
    * 학습 데이터 : data04.xls
    * 엑셀 파일이므로 pd.read_excel 함수를 이용해서 불러 옵니다.
* 다음과 같이 데이터를 불러와주세요.
    * 주피터랩 실행
        * 제공된 압축파일 '미프 1차_토익'을 다운받아 압축을 해제합니다.
        * anaconda의 root directory(C:\Users\<ID>) 에 '미프 1차_토익' 폴더를 만들고, 복사합니다.
        * '1.전처리_교육생용'과 '2.데이터_탐색_교육생용' 실습 파일을 열어주세요.

#### 1) 주피터랩 실행
* '미프 1차_토익' 폴더에 필요한 파일들을 넣고, 본 파일을 열거나, 별도 경로를 지정해서 데이터를 읽어올 수 있습니다.

In [11]:
#[문제] '미프 1차_토익' 폴더에서 본 파일인 '1.전처리_교육생용'을 열어주세요.

#### 2) 데이터 읽어오기

In [13]:
#[문제] data04.xlsx 파일을 Pandas read_excel 함수를 이용하여 읽고 data변수에 저장하세요.

In [14]:
# 읽어들일 파일명 : data04.xlsx 
# Pandas read_excel 함수 활용
# 결과 : data 저장
file = 'data04.xlsx'

data = pd.read_excel(file)

In [15]:
#[문제] 읽어온 데이터프레임을 확인하고, 상위 10개 행만 보여주세요.

In [16]:
data.head()

,ID,Seq,Gender,Birth_Year,LC_Score,RC_Score,Total Score,학습목표,학습방법,강의 학습 교재 유형,학습빈도,기출문제 공부 횟수,취약분야 인지 여부,토익 모의테스트 횟수,Student ID
0,1,1,M,1973,181,173,354,자기계발,참고서,일반적인 영어 텍스트 기반 교재,주3-4회,6.0,알고 있지 않음,6,student1
1,1,2,M,1973,227,213,440,자기계발,오프라인강의,뉴스/이슈 기반 교재,주1-2회,3.0,알고 있음,5,student1
2,1,3,M,1973,345,336,681,승진,온라인강의,영상 교재,주5-6회,7.0,알고 있음,10,student1
3,2,1,F,1982,330,290,620,자기계발,오프라인강의,뉴스/이슈 기반 교재,매일(주 7회),8.0,알고 있지 않음,19,student2
4,2,2,F,1982,354,339,693,승진,온라인강의,영상 교재,주5-6회,2.0,알고 있음,15,student2

### 2. 데이터프레임 탐색

* **세부 요구사항**
    - data의 형태, 기초통계량, 정보 등을 확인합니다.
    - 특히 .info() 를 통해서 각 변수별 데이터타입이 적절한지 확인합니다.
    - 다양한 함수로 데이터를 탐색해주세요.

In [19]:
#[문제] 전체 데이터의 행,열 개수를 확인하기

In [20]:
#data.info()
data.shape

(1500, 15)

In [21]:
#[문제] 전체 데이터의 하위 5개 행 확인하기

In [22]:
data.tail()

,ID,Seq,Gender,Birth_Year,LC_Score,RC_Score,Total Score,학습목표,학습방법,강의 학습 교재 유형,학습빈도,기출문제 공부 횟수,취약분야 인지 여부,토익 모의테스트 횟수,Student ID
1495,499,2,F,1990,378,326,704,승진,온라인강의,뉴스/이슈 기반 교재,주5-6회,6.0,알고 있지 않음,12,student499
1496,499,3,F,1990,422,370,792,자기계발,오프라인강의,비즈니스 시뮬레이션(Role Play),주3-4회,4.0,알고 있음,7,student499
1497,500,1,M,1984,169,188,357,자기계발,참고서,일반적인 영어 텍스트 기반 교재,주3-4회,8.0,알고 있지 않음,2,student500
1498,500,2,M,1984,172,190,362,자기계발,참고서,뉴스/이슈 기반 교재,매일(주 7회),10.0,알고 있음,16,student500
1499,500,3,M,1984,235,226,461,승진,오프라인강의,비즈니스 시뮬레이션(Role Play),주5-6회,7.0,알고 있음,15,student500

In [23]:
#[문제] 전체 데이터의 모든 변수 확인하기

In [24]:
data.columns

Index(['ID', 'Seq', 'Gender', 'Birth_Year', 'LC_Score', 'RC_Score',
       'Total Score', '학습목표', '학습방법', '강의 학습 교재 유형', '학습빈도', '기출문제 공부 횟수',
       '취약분야 인지 여부', '토익 모의테스트 횟수', 'Student ID'],
      dtype='object')

In [25]:
#[문제] 전체 데이터 정보 확인

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           1500 non-null   int64
 1   Seq          1500 non-null   int64
 2   Gender       1500 non-null   object
 3   Birth_Year   1500 non-null   int64
 4   LC_Score     1500 non-null   int64
 5   RC_Score     1500 non-null   int64
 6   Total Score  1500 non-null   int64
 7   학습목표         1500 non-null   object
 8   학습방법         1500 non-null   object
 9   강의 학습 교재 유형  1500 non-null   object
 10  학습빈도         1500 non-null   object
 11  기출문제 공부 횟수   1497 non-null   float64
 12  취약분야 인지 여부   1500 non-null   object
 13  토익 모의테스트 횟수  1500 non-null   int64
 14  Student ID   1500 non-null   object
dtypes: float64(1), int64(7), object(7)
memory usage: 175.9+ KB

In [27]:
#[문제] 각 열별 Null 데이터 값의 개수를 확인해주세요.

In [28]:
data.isnull().sum()
# 기출문제 공부 횟수 에 결측치 존재

ID             0
Seq            0
Gender         0
Birth_Year     0
LC_Score       0
RC_Score       0
Total Score    0
학습목표           0
학습방법           0
강의 학습 교재 유형    0
학습빈도           0
기출문제 공부 횟수     3
취약분야 인지 여부     0
토익 모의테스트 횟수    0
Student ID     0
dtype: int64

In [29]:
#[문제] 데이터의 통계정보를 확인해주세요.

In [30]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,1500.0,250.500000,144.385415,1.0,125.75,250.5,375.25,500.0
Seq,1500.0,2.000000,0.816769,1.0,1.00,2.0,3.00,3.0
Birth_Year,1500.0,1992.906000,8.218893,1973.0,1986.75,1992.5,2000.00,2007.0
LC_Score,1500.0,340.079333,86.807523,105.0,279.00,335.0,404.00,495.0
RC_Score,1500.0,340.164667,87.143890,84.0,280.00,337.0,406.00,495.0
Total Score,1500.0,680.260667,159.110652,250.0,564.00,687.0,800.00,990.0
기출문제 공부 횟수,1497.0,5.286573,2.797303,1.0,3.00,5.0,8.00,10.0
토익 모의테스트 횟수,1500.0,9.784000,5.324181,1.0,5.00,9.0,14.00,20.0

## 3.데이터 전처리 수행

*  **세부 요구사항**
    * 여기부터는 스스로 실습해봅시다.
    * ID를 기준으로 3회차(3행) 데이터를 1개의 분석단위(1행)으로 만들어야 합니다.
        * (1) 개인정보 데이터와 각 회차별 학습정보 데이터 분리
        * (2) 개인정보의 중복값 제거
        * (3) 각 회차별 정보를 한 행으로 만들기 
        * (4) (2)와 (3)을 합치기 (merge, ID 기준)
        * (5) 레이블 만들기
    * 전처리 결과를 다시 한번 정리해봅니다.

### (1) 컬럼삭제 및 값변경, 개인정보와 각 회차별 학습정보 분리

In [34]:
#[문제] data의 컬럼별 데이터 타입을 출력하세요.

In [35]:
data.dtypes

ID               int64
Seq              int64
Gender          object
Birth_Year       int64
LC_Score         int64
RC_Score         int64
Total Score      int64
학습목표            object
학습방법            object
강의 학습 교재 유형     object
학습빈도            object
기출문제 공부 횟수     float64
취약분야 인지 여부      object
토익 모의테스트 횟수      int64
Student ID      object
dtype: object

In [36]:
#[문제] data에서 'Student ID' 컬럼을 삭제하세요.

In [37]:
# axis=1 옵션, 컬럼단위 삭제(drop함수)
# inplace=True 옵션, data 데이터프레임에 저장

data.drop(columns='Student ID',inplace=True)

In [38]:
#[문제] 15개컬럼에서 14개컬럼으로 줄어든 것을 확인해주세요.

In [39]:
data.columns

Index(['ID', 'Seq', 'Gender', 'Birth_Year', 'LC_Score', 'RC_Score',
       'Total Score', '학습목표', '학습방법', '강의 학습 교재 유형', '학습빈도', '기출문제 공부 횟수',
       '취약분야 인지 여부', '토익 모의테스트 횟수'],
      dtype='object')

In [40]:
#[문제] data 데이터프레임에서 '기출문제 공부 횟수' 컬럼의 Null 값을 '' --> '0'으로 변경하세요.

In [41]:
# fillna 함수
# 대상컬럼 : '기출문제 공부 횟수'
data.fillna(0, inplace=True)

In [42]:
#[문제] '기출문제 공부 횟수' 컬럼의 값 0으로 변경 확인

In [43]:
data['기출문제 공부 횟수'] = data['기출문제 공부 횟수'].astype(int)
data['기출문제 공부 횟수']

0        6
1        3
2        7
3        8
4        2
        ..
1495     6
1496     4
1497     8
1498    10
1499     7
Name: 기출문제 공부 횟수, Length: 1500, dtype: int32

In [44]:
#[문제] 개인정보 데이터와 토익시험 학습정보 데이터를 2개의 데이터 프레임인 df1, df2으로 각각 분리해주세요.

In [45]:
# 개인정보 데이터는 features1, 토익시험 학습정보 데이터는 features2로 분리해주세요.
# df1(개인정보 데이터)에 포함될 features : 'ID', 'Gender', 'Birth_Year'
# df2(토익시험 학습정보 데이터)에 포함될 features : 'ID','Seq', 'LC_Score', 'RC_Score', 'Total Score', '학습목표', '학습방법', '강의 학습 교재 유형', '학습빈도', '기출문제 공부 횟수', '취약분야 인지 여부', '토익 모의테스트 횟수'
df1 = data[['ID', 'Gender', 'Birth_Year']]
df2 = data[['ID','Seq', 'LC_Score', 'RC_Score', 'Total Score', '학습목표', '학습방법', '강의 학습 교재 유형', '학습빈도', '기출문제 공부 횟수', '취약분야 인지 여부', '토익 모의테스트 횟수']]

#df1.value_counts() # 같은 정보가 3개씩 있음

### (2) 개인정보의 중복값 제거

In [47]:
#[문제] 개인정보 데이터 'df1'의 중복된 행을 제거해주세요.

In [48]:
# drop_duplicates 함수 활용
# 제거된 결과는 원본 데이터프레임 'df1'에 바로 적용
df1 = df1.drop_duplicates()
#df1.value_counts() 중복 제거 확인

### (3) 각 회차별 정보를 한 행으로 만들기
* 우리는 3차시(Seq == 3)를 기준으로 1,2차시 정보를 집계하여 한 행으로 만들어 봅니다.

In [50]:
#[문제] 토익시험 학습정보 데이터 'df2'에서 각 ID별 차시(Seq)가 3인 행을 선택하여 새로운 데이터프레임 'temp'에 할당해 주세요.

In [51]:
# 3차시 데이터 : ['Seq'] == 3
# loc 함수 활용 : 특정 행, 특정 행과 열, 그리고 조건에 따라 필터링된 행을 선택하는 함수
temp = df2.loc[df2['Seq']==3] 
# temp

In [52]:
#[문제] temp 데이터프레임의 열이름 중 'LC_Score', 'RC_Score', 'Total Score'를 각각 '3st_LC_Score', '3st_RC_Score', '3st_Total_Score'로 변경하고 확인해주세요.

In [53]:
# rename 함수 활용, temp에 저장
# rename 함수 : 데이터프레임의 행 인덱스 또는 열 이름을 변경하는 데 사용
temp = temp.rename(columns={'LC_Score':'3st_LC_Score',
                     'RC_Score':'3st_RC_Score',
                     'Total Score':'3st_Total_Score'} )
temp.head()

,ID,Seq,3st_LC_Score,3st_RC_Score,3st_Total_Score,학습목표,학습방법,강의 학습 교재 유형,학습빈도,기출문제 공부 횟수,취약분야 인지 여부,토익 모의테스트 횟수
2,1,3,345,336,681,승진,온라인강의,영상 교재,주5-6회,7,알고 있음,10
5,2,3,380,368,748,승진,온라인강의,뉴스/이슈 기반 교재,주5-6회,4,알고 있음,14
8,3,3,416,382,798,자기계발,참고서,일반적인 영어 텍스트 기반 교재,주1-2회,4,알고 있음,4
11,4,3,495,397,892,승진,온라인강의,뉴스/이슈 기반 교재,주3-4회,9,알고 있음,8
14,5,3,398,437,835,자기계발,온라인강의,영상 교재,주3-4회,6,알고 있음,4

In [54]:
#[문제] 토익시험 학습정보 데이터 'df2'의  각 ID별 차시(Seq)가 1인 행을 선택하여 새로운 데이터프레임 'temp1'에 할당해 주세요.

In [55]:
# 1차시 데이터 : ['Seq'] == 1
# loc 함수 활용 : 특정 행, 특정 행과 열, 그리고 조건에 따라 필터링된 행을 선택하는 함수
temp1 = df2.loc[df2['Seq']==1]
temp1.head()

,ID,Seq,LC_Score,RC_Score,Total Score,학습목표,학습방법,강의 학습 교재 유형,학습빈도,기출문제 공부 횟수,취약분야 인지 여부,토익 모의테스트 횟수
0,1,1,181,173,354,자기계발,참고서,일반적인 영어 텍스트 기반 교재,주3-4회,6,알고 있지 않음,6
3,2,1,330,290,620,자기계발,오프라인강의,뉴스/이슈 기반 교재,매일(주 7회),8,알고 있지 않음,19
6,3,1,367,309,676,취업,온라인강의,영상 교재,매일(주 7회),9,알고 있지 않음,7
9,4,1,470,285,755,자기계발,온라인강의,뉴스/이슈 기반 교재,주1-2회,7,알고 있지 않음,4
12,5,1,273,372,645,승진,오프라인강의,비즈니스 시뮬레이션(Role Play),주5-6회,3,알고 있지 않음,13

In [56]:
#[문제] 'temp1'에는 df2['ID','LC_Score','RC_Score','Total Score'] 컬럼만 불러와 주세요.

In [57]:
temp1 = temp1[['ID','LC_Score','RC_Score','Total Score']]
temp1.head()

    ID  LC_Score  RC_Score  Total Score
0    1       181       173          354
3    2       330       290          620
6    3       367       309          676
9    4       470       285          755
12   5       273       372          645

In [58]:
#[문제] temp1 데이터프레임의 열이름 중 'LC_Score', 'RC_Score', 'Total Score'를 각각 '1st_LC_Score', '1st_RC_Score', '1st_Total_Score'로 변경해주세요.

In [59]:
# rename 함수 활용, temp1에 저장
temp1 = temp1.rename(columns={'LC_Score':'1st_LC_Score',
                              'RC_Score':'1st_RC_Score',
                              'Total Score':'1st_Total_Score'})
temp1.head()

    ID  1st_LC_Score  1st_RC_Score  1st_Total_Score
0    1           181           173              354
3    2           330           290              620
6    3           367           309              676
9    4           470           285              755
12   5           273           372              645

In [60]:
#[문제] 토익시험 학습정보 데이터 'df2'에서 각 ID별 차시(Seq)가 2인 행을 선택하여 새로운 데이터프레임 'temp2'에 할당해 주세요.

In [61]:
# 2차시 데이터 : ['Seq'] == 2
# loc 함수 활용 : 특정 행, 특정 행과 열, 그리고 조건에 따라 필터링된 행을 선택
temp2 = df2.loc[df2['Seq']==2]
temp2.head()

,ID,Seq,LC_Score,RC_Score,Total Score,학습목표,학습방법,강의 학습 교재 유형,학습빈도,기출문제 공부 횟수,취약분야 인지 여부,토익 모의테스트 횟수
1,1,2,227,213,440,자기계발,오프라인강의,뉴스/이슈 기반 교재,주1-2회,3,알고 있음,5
4,2,2,354,339,693,승진,온라인강의,영상 교재,주5-6회,2,알고 있음,15
7,3,2,396,365,761,자기계발,온라인강의,영상 교재,주3-4회,7,알고 있지 않음,6
10,4,2,495,341,836,자기계발,온라인강의,영상 교재,주1-2회,7,알고 있지 않음,7
13,5,2,314,426,740,자기계발,오프라인강의,비즈니스 시뮬레이션(Role Play),주5-6회,8,알고 있지 않음,10

In [62]:
#[문제] 'temp2'에는 df2['ID','LC_Score','RC_Score','Total Score'] 컬럼만 불러와 주세요.

In [63]:
temp2 =temp2[['ID','LC_Score','RC_Score','Total Score']]
temp2.head()

    ID  LC_Score  RC_Score  Total Score
1    1       227       213          440
4    2       354       339          693
7    3       396       365          761
10   4       495       341          836
13   5       314       426          740

In [64]:
#[문제] temp2 데이터프레임의 열이름 중 'LC_Score', 'RC_Score', 'Total Score'를 각각 '2st_LC_Score', '2st_RC_Score', '2st_Total_Score'로 변경해주세요.

In [65]:
# rename 함수 활용, temp2에 저장 및 확인
temp2 = temp2.rename(columns={'LC_Score':'2st_LC_Score',
                              'RC_Score':'2st_RC_Score',
                              'Total Score':'2st_Total_Score'})
temp2.head()

    ID  2st_LC_Score  2st_RC_Score  2st_Total_Score
1    1           227           213              440
4    2           354           339              693
7    3           396           365              761
10   4           495           341              836
13   5           314           426              740

In [66]:
#[문제] 3회차 토익시험 정보가 모두 포함된 'temp' 데이터 + 1차시 토익시험점수 'temp1' 데이터을 합쳐서 'score_merged_data1'에 할당하세요.

In [67]:
# 'temp'와 'temp1'을 'ID' 열 기준 조인하여 'score_merged_data1'에 저장
# merge 함수 할용, how='outer'
score_merged_data1 = pd.merge(temp,temp1,on='ID',how='outer')
#score_merged_data1.head()

In [68]:
#[문제] 'score_merged_data1'과 'temp2' 데이터를 합쳐서 'score_merged_data2'에 할당하세요.

In [69]:
# 'score_merged_data1'과 'temp2'을 'ID' 열을 기준으로 조인하여 'score_merged_data2'에 저장
# merge 함수 할용, how='outer'
score_merged_data2 = pd.merge(score_merged_data1 , temp2 , on ='ID',how = 'outer')

In [70]:
#[문제] score_merged_data2 데이터를 확인하세요.

In [71]:
score_merged_data2.head()

,ID,Seq,3st_LC_Score,3st_RC_Score,3st_Total_Score,학습목표,학습방법,강의 학습 교재 유형,학습빈도,기출문제 공부 횟수,취약분야 인지 여부,토익 모의테스트 횟수,1st_LC_Score,1st_RC_Score,1st_Total_Score,2st_LC_Score,2st_RC_Score,2st_Total_Score
0,1,3,345,336,681,승진,온라인강의,영상 교재,주5-6회,7,알고 있음,10,181,173,354,227,213,440
1,2,3,380,368,748,승진,온라인강의,뉴스/이슈 기반 교재,주5-6회,4,알고 있음,14,330,290,620,354,339,693
2,3,3,416,382,798,자기계발,참고서,일반적인 영어 텍스트 기반 교재,주1-2회,4,알고 있음,4,367,309,676,396,365,761
3,4,3,495,397,892,승진,온라인강의,뉴스/이슈 기반 교재,주3-4회,9,알고 있음,8,470,285,755,495,341,836
4,5,3,398,437,835,자기계발,온라인강의,영상 교재,주3-4회,6,알고 있음,4,273,372,645,314,426,740

### (4) (2)개인정보 데이터와 (3)토익시험 학습정보 합치기

In [73]:
#[문제] 개인정보 데이터 'df1'과 토익시험 학습정보 'score_merged_data2'를 ID 기준으로 합치고 'baseline_data'에 할당하세요.

In [74]:
df1.head()

    ID Gender  Birth_Year
0    1      M        1973
3    2      F        1982
6    3      F        1995
9    4      M        1987
12   5      M        1994

In [75]:
# merge 함수, 합쳐진 데이터는 'baseline_data'로 저장
baseline_data = pd.merge(df1,score_merged_data2,on='ID',how='outer')
# baseline_data.isna().sum()# 결측값은 없는 것을 보니 inner join을 해도 괜찮았다
baseline_data.head()

,ID,Gender,Birth_Year,Seq,3st_LC_Score,3st_RC_Score,3st_Total_Score,학습목표,학습방법,강의 학습 교재 유형,학습빈도,기출문제 공부 횟수,취약분야 인지 여부,토익 모의테스트 횟수,1st_LC_Score,1st_RC_Score,1st_Total_Score,2st_LC_Score,2st_RC_Score,2st_Total_Score
0,1,M,1973,3,345,336,681,승진,온라인강의,영상 교재,주5-6회,7,알고 있음,10,181,173,354,227,213,440
1,2,F,1982,3,380,368,748,승진,온라인강의,뉴스/이슈 기반 교재,주5-6회,4,알고 있음,14,330,290,620,354,339,693
2,3,F,1995,3,416,382,798,자기계발,참고서,일반적인 영어 텍스트 기반 교재,주1-2회,4,알고 있음,4,367,309,676,396,365,761
3,4,M,1987,3,495,397,892,승진,온라인강의,뉴스/이슈 기반 교재,주3-4회,9,알고 있음,8,470,285,755,495,341,836
4,5,M,1994,3,398,437,835,자기계발,온라인강의,영상 교재,주3-4회,6,알고 있음,4,273,372,645,314,426,740

### (5) 레이블 만들기

* **세부 요구사항**
    - 시험 2회차와 3회차의 Score 차이를 구하여 분석하고 싶습니다.
    - 이를 계산해서 'Score_diff_total'이라는 변수로 추가해봅시다.
    - 레이블을 만드는 것은 데이터를 의미있는 방식으로 구분하거나 식별하는 것을 말합니다.

In [78]:
#[문제] baseline_data 데이터프레임에서 2차시와 3차시의 시험점수 차이를 'Score_diff_total'이라는 변수로 'baseline_data'에 추가해주세요.

In [79]:
# baseline_data의 'Score_diff_total' 변수 = '3st_Total_Score'에서 '2st_Total_Score'를 마이너스한 값
baseline_data['Score_diff_total'] = baseline_data['3st_Total_Score']- baseline_data['2st_Total_Score']

In [80]:
#[문제] baseline_data 확인해주세요.

In [81]:
baseline_data.head()

,ID,Gender,Birth_Year,Seq,3st_LC_Score,3st_RC_Score,3st_Total_Score,학습목표,학습방법,강의 학습 교재 유형,...,기출문제 공부 횟수,취약분야 인지 여부,토익 모의테스트 횟수,1st_LC_Score,1st_RC_Score,1st_Total_Score,2st_LC_Score,2st_RC_Score,2st_Total_Score,Score_diff_total
0,1,M,1973,3,345,336,681,승진,온라인강의,영상 교재,...,7,알고 있음,10,181,173,354,227,213,440,241
1,2,F,1982,3,380,368,748,승진,온라인강의,뉴스/이슈 기반 교재,...,4,알고 있음,14,330,290,620,354,339,693,55
2,3,F,1995,3,416,382,798,자기계발,참고서,일반적인 영어 텍스트 기반 교재,...,4,알고 있음,4,367,309,676,396,365,761,37
3,4,M,1987,3,495,397,892,승진,온라인강의,뉴스/이슈 기반 교재,...,9,알고 있음,8,470,285,755,495,341,836,56
4,5,M,1994,3,398,437,835,자기계발,온라인강의,영상 교재,...,6,알고 있음,4,273,372,645,314,426,740,95

## 4.데이터셋 저장하기

* **세부 요구사항**
    * to_csv를 이용하여 전처리된 데이터셋을 저장하세요.
    * 저장할 파일의 확장자는 .csv 입니다.

In [84]:
#[문제] 전처리된 데이터프레임 'baseline_data'를 CSV 파일로 저장합니다.

In [85]:
# 파일 : 'data04_baseline.csv'
# to_csv 함수 활용, index=False
baseline_data.to_csv('data04_baseline.csv',index=False)

In [86]:
#[문제] 제대로 저장이 잘 되었는지 'data04_baseline.csv' 파일을 불러와 확인해보세요.

In [87]:
test = pd.read_csv('data04_baseline.csv')
test

,ID,Gender,Birth_Year,Seq,3st_LC_Score,3st_RC_Score,3st_Total_Score,학습목표,학습방법,강의 학습 교재 유형,...,기출문제 공부 횟수,취약분야 인지 여부,토익 모의테스트 횟수,1st_LC_Score,1st_RC_Score,1st_Total_Score,2st_LC_Score,2st_RC_Score,2st_Total_Score,Score_diff_total
0,1,M,1973,3,345,336,681,승진,온라인강의,영상 교재,...,7,알고 있음,10,181,173,354,227,213,440,241
1,2,F,1982,3,380,368,748,승진,온라인강의,뉴스/이슈 기반 교재,...,4,알고 있음,14,330,290,620,354,339,693,55
2,3,F,1995,3,416,382,798,자기계발,참고서,일반적인 영어 텍스트 기반 교재,...,4,알고 있음,4,367,309,676,396,365,761,37
3,4,M,1987,3,495,397,892,승진,온라인강의,뉴스/이슈 기반 교재,...,9,알고 있음,8,470,285,755,495,341,836,56
4,5,M,1994,3,398,437,835,자기계발,온라인강의,영상 교재,...,6,알고 있음,4,273,372,645,314,426,740,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,M,2006,3,364,336,700,자기계발,온라인강의,일반적인 영어 텍스트 기반 교재,...,10,알고 있음,13,347,315,662,349,321,670,30
496,497,F,1988,3,187,252,439,승진,온라인강의,비즈니스 시뮬레이션(Role Play),...,9,알고 있음,17,112,250,362,120,251,371,68
497,498,M,2006,3,255,167,422,자기계발,오프라인강의,일반적인 영어 텍스트 기반 교재,...,0,알고 있음,4,252,150,402,254,158,412,10
498,499,F,1990,3,422,370,792,자기계발,오프라인강의,비즈니스 시뮬레이션(Role Play),...,4,알고 있음,7,371,324,695,378,326,704,88
499,500,M,1984,3,235,226,461,승진,오프라인강의,비즈니스 시뮬레이션(Role Play),...,7,알고 있음,15,169,188,357,172,190,362,99

In [88]:
## 고생 정말 많으셨습니다!!