<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/ml_python.png' width=600/></center>

<img src = "https://github.com/Jangrae/img/blob/master/carseats.png?raw=true" width=800 align="left"/>

# 실습 내용

- 다양한 알고리즘으로 모델을 만들고 평가를 진행합니다.

# 1.환경 준비

- 기본 라이브러리와 대상 데이터를 가져와 이후 과정을 준비합니다.

In [5]:
# 라이브러리 불러오기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings(action='ignore')
%config InlineBackend.figure_format = 'retina'

In [6]:
# 데이터 불러오기
path = 'https://raw.githubusercontent.com/jangrae/csv/master/Carseats.csv'
data = pd.read_csv(path)

# 2.데이터 이해

- 분석할 데이터를 충분히 이해할 수 있도록 다양한 탐색 과정을 수행합니다.

**데이터 설명**

- **Sales: 각 지역 판매량(단위: 1,000개) - Target**
- CompPrice: 경쟁사 가격 (단위: 달러)
- Income: 지역 평균 소득 (단위: 1,000달러)
- Advertising: 각 지역, 회사의 광고 예산 (단위: 1,000달러)
- Population: 지역 인구 수 (단위: 1,000명)
- Price: 자사 지역별 판매 가격 (단위: 달러)
- ShelveLoc: 진열 상태
- Age: 지역 인구의 평균 연령
- Education: 각 지역 교육 수준
- Urban: 도심 지역 여부 (Yes,No)
- US: 매장이 미국에 있는지 여부 (Yes, No)

In [9]:
# 데이터 살펴보기
data.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [10]:
# 기술통계 확인
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Sales,400.0,7.496325,2.824115,0.0,5.39,7.49,9.32,16.27
CompPrice,400.0,124.975000,15.334512,77.0,115.00,125.00,135.00,175.00
Income,400.0,68.657500,27.986037,21.0,42.75,69.00,91.00,120.00
Advertising,400.0,6.635000,6.650364,0.0,0.00,5.00,12.00,29.00
Population,400.0,264.840000,147.376436,10.0,139.00,272.00,398.50,509.00
Price,400.0,115.795000,23.676664,24.0,100.00,117.00,131.00,191.00
Age,400.0,53.322500,16.200297,25.0,39.75,54.50,66.00,80.00
Education,400.0,13.900000,2.620528,10.0,12.00,14.00,16.00,18.00

In [11]:
# 변수 관련 정보 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

# 3.데이터 준비

- 전처리 과정을 통해 머신러닝 알고리즘에 사용할 수 있는 형태의 데이터를 준비합니다.

**1) x, y 분리**

In [14]:
# x, y 분리
target = "Sales"

x= data.drop(columns = target)
y= data.loc[:,target]

**2) 가변수화**

In [16]:
# 가변수화
dummy_cols = ['ShelveLoc','Urban','US','Education']

x = pd.get_dummies(data = x, columns = dummy_cols, drop_first = True , dtype = int)

x

,CompPrice,Income,Advertising,Population,Price,Age,ShelveLoc_Good,ShelveLoc_Medium,Urban_Yes,US_Yes,Education_11,Education_12,Education_13,Education_14,Education_15,Education_16,Education_17,Education_18
0,138,73,11,276,120,42,0,0,1,1,0,0,0,0,0,0,1,0
1,111,48,16,260,83,65,1,0,1,1,0,0,0,0,0,0,0,0
2,113,35,10,269,80,59,0,1,1,1,0,1,0,0,0,0,0,0
3,117,100,4,466,97,55,0,1,1,1,0,0,0,1,0,0,0,0
4,141,64,3,340,128,38,0,0,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,33,1,0,1,1,0,0,0,1,0,0,0,0
396,139,23,3,37,120,55,0,1,0,1,1,0,0,0,0,0,0,0
397,162,26,12,368,159,40,0,1,1,1,0,0,0,0,0,0,0,1
398,100,79,7,284,95,50,0,0,1,1,0,1,0,0,0,0,0,0
399,134,37,0,27,120,49,1,0,1,1,0,0,0,0,0,1,0,0

**3) 학습용, 평가용 데이터 분리**

In [18]:
# 학습용, 평가용 데이터 분리
from sklearn.model_selection import train_test_split

x_train , x_test,y_train, y_test = train_test_split(x,y,random_state = 1,test_size= 0.3)

**4) 정규화**

In [20]:
# 정규화
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(x_train)

x_train_s = scaler.transform(x_train)
x_test_s = scaler.transform(x_test)

# 4.모델링

- 본격적으로 모델을 선언하고 학습하고 평가하는 과정을 진행합니다.
- 다양한 알고리즘으로 모델을 만들고 성능을 확입니다.
- 성능 평가는 mean_absolute_error, r2_score를 사용합니다.

In [22]:
# xgboost 설치
# !pip install xgboost

In [23]:
# lightgbm 설치
# !pip install lightgbm

- 사용할 알고리즘을 모두 불러옵니다.

In [25]:
# 라이브러리 불러오기(회귀 )
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor

# 평가용 라이브러라
from sklearn.metrics import *

**1) Linear Regression**

- Linear Regression 알고리즘으로 모델링하고 성능을 확인합니다.

In [27]:
# 선언하기
model_linear = LinearRegression()

# 학습하기
model_linear.fit(x_train, y_train)

# 예측하기
y_pred_linear = model_linear.predict(x_test)

# 평가하기
print('MAE :', mean_absolute_error(y_test,y_pred_linear))
print('R2-score :', r2_score(y_test,y_pred_linear))

MAE : 0.841609880289612
R2-score : 0.8657819916636769

**2) KNN**

- KNN 알고리즘으로 모델링하고 성능을 확인합니다.

In [29]:
# 선언하기
model_knn = KNeighborsRegressor(n_neighbors=5)

# 학습하기  * 단 정규화된 데이터를 학습  
model_knn.fit(x_train_s, y_train)

# 예측하기
y_pred_knn = model_knn.predict(x_test_s)

# 평가하기
print('MAE :', mean_absolute_error(y_test,y_pred_knn))
print('R2-score :', r2_score(y_test,y_pred_knn))

MAE : 1.8401833333333333
R2-score : 0.3164099528655834

**3) Decision Tree**

- Decision Tree 알고리즘으로 모델링하고 성능을 확인합니다.

In [31]:
# 선언하기
model_dt = DecisionTreeRegressor(max_depth = 5)

# 학습하기
model_dt.fit(x_train,y_train)

# 예측하기
y_pred_dt = model_dt.predict(x_test)

# 평가하기
print('MAE :', mean_absolute_error(y_test,y_pred_dt))
print('R2-score :', r2_score(y_test,y_pred_dt))

MAE : 1.9110944370982414
R2-score : 0.307084554928293

**4) Random Forest**

- Random Forest 알고리즘으로 모델링하고 성능을 확인합니다.

In [33]:
# 선언하기
model_rf = RandomForestRegressor(max_depth = 5)

# 학습하기
model_rf.fit(x_train, y_train)

# 예측하기
y_pred_rf =model_rf.predict(x_test)

# 평가하기
print('MAE :', mean_absolute_error(y_test,y_pred_rf))
print('R2-score :', r2_score(y_test,y_pred_rf))

MAE : 1.3899305052402795
R2-score : 0.6055985289251888

**5) XGBoost**

- XGBoost 알고리즘으로 모델링하고 성능을 확인합니다.

In [35]:
# 선언하기
model_xgb = XGBRegressor(max_depth =5)
# 학습하기
model_xgb.fit(x_train, y_train)

# 예측하기
y_pred_xgb =model_xgb.predict(x_test)

# 평가하기
print('MAE :', mean_absolute_error(y_test,y_pred_xgb))
print('R2-score :', r2_score(y_test,y_pred_xgb))

MAE : 1.374096424102783
R2-score : 0.6010697648596808

**6) LightGBM**

- LightGBM 알고리즘으로 모델링하고 성능을 확인합니다.

In [37]:
# 선언하기

model_lgm = LGBMRegressor(max_depth = 5,verbose = -1, importance_type = 'gain') 
# 학습하기
model_lgm.fit(x_train, y_train) # 좀더 복잡하게 모델 생성함  > verbose = -1 하면 학습 과정을 굳이 출력 안해줌

# 예측하기
y_pred_lgm = model_lgm.predict(x_test)

# 평가하기
print('MAE :', mean_absolute_error(y_test,y_pred_lgm))
print('R2-score :', r2_score(y_test,y_pred_lgm))

MAE : 1.1793538735127505
R2-score : 0.6946417907320817